<div class="container app-sum-body-container">
    <div class="row">
        <div class="col-md-12 app-sum-body-user-name-container">
            <span class="app-sum-body-user-name">
                {user_name}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 app-sum-body-ref-container">
            <span class="app-sum-body-ref">
                Investment Advisor: {name_advisor}
            </span>
            <br />
            <span class="app-sum-body-ref">
                Reference Code: {ref_code}
            </span>
        </div>
    </div>
    {foreach:summary,stepKey,steps}
    {foreach:steps,sectionKey,sections}
    <div class="row">
        <div class="col-md-12 app-sum-body-section-container">
            <span class="app-sum-body-section">
                {sectionKey}
            </span>
        </div>
    </div>
    <div class="row">
    {foreach:sections,applicantNum,applicants}
        <div class="col-md-6">
            <table class="app-sum-body-indi-data-table">
                <tr class="app-sum-body-indi-data-row">
                    <td class="col-md-6 app-sum-body-indi-data">
                    </td>
                    <td class="col-md-6 app-sum-body-indi-data">
                        Client {applicantNum}
                    </td>
                </tr>
                {foreach:applicants,row}
                {if:checkDependency(row)}
                <tr class="app-sum-body-indi-data-row">
                    <td class="col-md-6 app-sum-body-indi-data">
                        {row[Label]}
                    </td>
                    <td class="col-md-6 app-sum-body-indi-data">
                        {outputQuestionByType(row)}
                    </td>
                </tr>
                {end:}
                {end:}
            </table>
        </div>
    {end:}
    </div>
    {end:}
    {end:}

    <!--declaration section-->
    <div class="row">
        <div class="col-md-12 app-sum-body-section-container">
            <span class="app-sum-body-section">
                Declaration
            </span>
        </div>
    </div>
    <table class="app-sum-body-indi-data-table">
    {foreach:declarations,declaration}
        <tr class="app-sum-body-indi-data-row">
            <td class="col-md-6 app-sum-body-indi-data">
                {declaration.title}
            </td>
            <td class="col-md-6 app-sum-body-indi-data">
                {if:declaration.is_agreed}
                <span class='glyphicon glyphicon-check app-sum-icon'></span>
                {else:}
                <span class='glyphicon glyphicon-unchecked app-sum-icon'></span>
                {end:}
            </td>
        </tr>
    {end:}
    </table>

    <!--document section-->
    <div class="row">
        <div class="col-md-12 app-sum-body-section-container">
            <span class="app-sum-body-section">
                Documents
            </span>
        </div>
    </div>
    <table class="app-sum-body-indi-data-table">
    {foreach:documents,document}
        <tr class="app-sum-body-indi-data-row">
            <td class="col-md-6 app-sum-body-indi-data">
                {document.title}
            </td>
            <td class="col-md-6 app-sum-body-indi-data">
                 {if:document.images_ids}
                <span class='glyphicon glyphicon-check app-sum-icon'></span>
                {else:}
                <span class='glyphicon glyphicon-unchecked app-sum-icon'></span>
                {end:}
            </td>
        </tr>
    {end:}
    </table>


    </div>
