<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:html="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

    <flexy:include src="application-summary-master-head.html"></flexy:include>

    <body class="ytheme-gray app-sum-body" xtype="Roo.bootstrap.Body">

        
        <!--header end-->

        <!--body for different account_types-->
        {outputBody()}
        <!--body end-->

        <!--footer start-->
        
        <!--footer end-->
    </body>

    <flexy:include src="application-summary-master-footer.html"></flexy:include>

</html>
