
<head>
    <title>Application Summary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='{rootURL}/Coba/Clients/{client_dir}/css/custom.css' rel='stylesheet' />
    <link href='{rootURL}/Coba/Clients/{client_dir}/css/theme.css' rel='stylesheet' />  
    <link href='{rootURL}/roojs1/css-bootstrap/bootstrap.min.css' rel='stylesheet'>
    <link href='{rootURL}/Pman/Coba/templates/css/lexis-nexis.css' rel='stylesheet'>
    <link href='{rootURL}/Pman/Coba/templates/css/report.css' rel='stylesheet'>
</head>
