<html>

<div class = "container summary-container">
    <!--header-->
    <div class = "row summary-header">
        <div class = "col-md-12">
            <img src="{rootURL}/assets/themes/img/logo.png" width='200px'>
        </div>
    </div>
    <!--body-->
    {outputSection(summary)}
    <!--footer-->
    <div class = "row summary-footer">
        <div class = "col-md-4 summary-footer-address">
            <h5>1001-2 Wilson House,</h5>
            <h5>19 Wyndham Street,</h5>
            <h5>Central, Hong Kong</h5>
        </div>
        <div class = "col-md-4 summary-footer-email">
            <h5>E: info@veridate.asia</h5>
        </div>
        <div class = "col-md-4 summary-footer-web">
            <h5>www.veridate.asia</h5>
        </div>
    </div>
</div>
