<div class="container app-sum-body-container">
    <div class="row">
        <div class="col-md-12">
            <span class="text-primary text-uppercase" style="font-size: 40px;">
                {user_name}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="text-primary text-uppercase">
                Investment Advisor: {name_advisor}
            </span>
            <br />
            <span class="text-primary text-uppercase">
                Reference Code: {ref_code}
            </span>
        </div>
    </div>


    {foreach:summary,stepKey,steps}
    {foreach:steps,sectionKey,sections}
     {if:is_show_section(sectionKey)}
    <div class="row">
        <div class="col-md-12 panel-primary report_heading text-uppercase">
            <div class="panel-heading">
            <span>
            {sectionKey}
            </span>
            </div>
        </div>
    </div>
  
    
    <table class="app-sum-body-indi-data-table">
    {foreach:sections,applicants}
    {foreach:applicants,row}
    {if:checkDependency(row)}
        <tr class="app-sum-body-indi-data-row">
            <td class="col-md-6 app-sum-body-indi-data">
                {renderRowLabel(row):h}
            </td>
            <td class="col-md-6 app-sum-body-indi-data">
                {outputQuestionByType(row):h}
            </td>
        </tr>
    {end:}
    {end:}
    {end:}
    
    {end:}
      <!-- section check end --> 
    </table>
{end:}
{end:}

<!--declaration section-->
<div class="row">
    <div class="col-md-12 panel-primary report_heading text-uppercase">
        <div class="panel-heading">
        <span>
            Declaration
        </span>
        </div>
    </div>
</div>

<table class="app-sum-body-indi-data-table">
{foreach:declarations,declaration}
    <tr class="app-sum-body-indi-data-row">
        <td class="col-md-6 app-sum-body-indi-data">
            {declaration.title}
        </td>
        <td class="col-md-6 app-sum-body-indi-data">
            {if:declaration.is_agreed}
            <span class='glyphicon glyphicon-check text-primary'></span>
            {else:}
            <span class='glyphicon glyphicon-unchecked text-primary'></span>
            {end:}
        </td>
    </tr>
{end:}
</table>





</div>
