<div class="container app-sum-body-container">
    <div class="row">
        <div class="col-md-12">
            <span class="text-primary text-uppercase" style="font-size: 40px;">
                {user_name}
            </span>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-12 app-sum-body-ref-container">
            <span class="text-primary text-uppercase">
                Investment Advisor: {name_advisor}
            </span>
            <br />
            <span class="text-primary text-uppercase">
                Reference Code: {ref_code}
            </span>
        </div>
    </div>


    {foreach:summary,stepKey,steps}
    {foreach:steps,sectionKey,sections}
     {if:is_show_section(sectionKey)}
    <div class="row">
        <div class="col-md-12 panel-primary report_heading text-uppercase">
            <div class="panel-heading">
            <span>
            {sectionKey}
            </span>
            </div>
        </div>
    </div>
    <table class="app-sum-body-indi-data-table">
    {foreach:sections,applicants}
    {foreach:applicants,row}
    {if:checkDependency(row)}
        <tr class="app-sum-body-indi-data-row">
            <td class="col-md-6 app-sum-body-indi-data">
                {renderRowLabel(row):h}
            </td>
            <td class="col-md-6 app-sum-body-indi-data">
                {outputQuestionByType(row):h}
            </td>
        </tr>
    {end:}
    {end:}
    {end:}
    
    {end:}
      <!-- section check end --> 
    </table>
{end:}
{end:}

<!--declaration section-->
<div class="row">
    <div class="col-md-12 panel-primary report_heading text-uppercase">
        <div class="panel-heading">
        <span>
            Declaration
        </span>
        </div>
    </div>
</div>
<table class="app-sum-body-indi-data-table">
{foreach:declarations,declaration}
    <tr class="app-sum-body-indi-data-row">
        <td class="col-md-6 app-sum-body-indi-data">
            {declaration.title}
        </td>
        <td class="col-md-6 app-sum-body-indi-data">
            {if:declaration.is_agreed}
            <span class='glyphicon glyphicon-check text-primary'></span>
            {else:}
            <span class='glyphicon glyphicon-unchecked text-primary'></span>
            {end:}
        </td>
    </tr>
{end:}
</table>

    <!--document section-->
    <div class="row">
        <div class="col-md-12 panel-primary report_heading text-uppercase">
            <div class="panel-heading">
            <span>
                Documents
            </span>
            </div>
        </div>
    </div>
    <table class="app-sum-body-indi-data-table">
    {foreach:documents,document}
        <tr class="app-sum-body-indi-data-row">
            <td class="col-md-6 app-sum-body-indi-data">
                {document.title}
            </td>
            <td class="col-md-6 app-sum-body-indi-data">
                {if:document.images_ids}
                <span class='glyphicon glyphicon-check text-primary'></span>
                {else:}
                <span class='glyphicon glyphicon-unchecked text-primary'></span>
                {end:}
            </td>
        </tr>
    {end:}
    </table>
    
   <!--3rd party compliance check section with page break-->
   <p style="page-break-after: always;">&nbsp;</p>
   <div class="row">
        <div class="col-md-12">
            <span class="text-primary text-uppercase" style="font-size: 40px;">            
                3<SUP>RD</SUP> PARTY COMPLIANCE CHECK
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">           
            <span class="text-primary text-uppercase">
                <br>
                Information Provider: LexisNexis Risk Solutions
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 app-sum-body-ref-container">           
            <span class="app-sum-body-ref">
            {if:t.nexisCompleted}
                REPORT DATE: {t.nexisReportDate}
            {end:}   
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 app-sum-header-note-container">
            <br>
            <strong>Disclaimer: </strong>
           The information contained in the profile is derived from public sources. As certain content may be summarized, 
           all information should be considered within the full content available in the third-party sources to which source links are provided. 
           LexisNexis® is not responsible for content of third party sources. Relationships and categories are based on
           information provided by third party sources and users should not draw negative conclusions from the display of relationships or categories.
        </div>
    </div>


    <!--document section-->    
    {if:!t.nexisCompleted}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger"><i class="glyphicon glyphicon-warning-sign"></i> Lexis Nexis has not been run yet</div>
            </div>
        </div>
    </div>
   {else:}
        {if:!t.nexis_has_matches}
            <div class="container well">
                <div class="row">
                    <div class="col-sm-12">
                        No matches where found in the Database
                    </div>
                </div>
            </div>
        {else:}
            
            <div flexy:if="nexisMatches">

                <div class="container well" flexy:foreach="nexisMatches,m">
                    <div class="row">
                        <div class="col-sm-3">
                            Source Date:
                        </div>
                        <div class="col-sm-9 text-bold">
                            {t.formatDate(m.ResultDate,#m/d/Y#)}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            Entity Type:
                        </div>
                        <div class="col-sm-9 text-bold">
                            {m.EntityDetails.EntityType}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            Gender:
                        </div>
                        <div class="col-sm-9 text-bold">
                            {m.EntityDetails.Gender}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            Entity Date:
                        </div>
                        <div class="col-sm-9 text-bold">
                            {t.formatDate(m.EntityDetails.DateListed,#m/d/Y#)}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            Number:
                        </div>
                        <div class="col-sm-9 text-bold">
                            {m.EntityDetails.ListReferenceNumber}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            Reason Listed:
                        </div>
                        <div class="col-sm-9 text-bold">
                            {m.EntityDetails.ReasonListed}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            Comments:
                        </div>
                        <div class="col-sm-9">
                            {t.comments(m.EntityDetails.Comments):h}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-bold bottom-dotted">
                            IDs
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3 text-bold">
                            {m.EntityDetails.IDs.EntityID.Type}:
                        </div>
                        <div class="col-sm-9">
                            {m.EntityDetails.IDs.EntityID.Number}
                        </div>
                    </div>

                    <div class="row" style="margin-top: 15px;">
                        <div class="col-sm-12 text-bold bottom-dotted">
                            Addresses
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-bold">
                            Address:
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3" style="padding-left: 30px;">
                            Country:
                        </div>
                        <div class="col-sm-9">
                            {m.EntityDetails.Addresses.EntityAddress.Country}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 text-bold bottom-dotted">
                            Additional Information
                        </div>
                    </div>

                    <div flexy:foreach="m.EntityDetails.AdditionalInfo.EntityAdditionalInfo,info">
                        <div class="row">
                            <div class="col-sm-3 text-bold">
                                {t.nexis_infoKey(info)}
                            </div>
                            <div class="col-sm-9">
                                {info.Value}
                            </div>
                        </div>

                        <div class="row" flexy:if='info.Comments'>
                            <div class="col-sm-3" style="padding-left: 30px;">
                                Comments:
                            </div>
                            <div class="col-sm-9">
                                {t.nexis_comments(info.Comments):h}
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        
            <div flexy:if="nexisRejected">

                <div flexy:foreach="nexisRejected,m">
                    
                    <div class="container well">
                        <div class="row">
                            <div class="col-sm-12">
                                <span>Result {m.EntityUniqueID} was flagged as not a match by {m.coba_investor_lexis_result.updated_by_name}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                {m.coba_investor_lexis_result.reason:h}
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-12" style="background-color: #fff; color: #666666; margin-top: 10px;">
                                
                                <div class="row">
                                    <div class="col-sm-3">
                                        Source Date:
                                    </div>
                                    <div class="col-sm-9 text-bold">
                                        {t.formatDate(m.ResultDate,#m/d/Y#)}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        Entity Type:
                                    </div>
                                    <div class="col-sm-9 text-bold">
                                        {m.EntityDetails.EntityType}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        Gender:
                                    </div>
                                    <div class="col-sm-9 text-bold">
                                        {m.EntityDetails.Gender}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        Entity Date:
                                    </div>
                                    <div class="col-sm-9 text-bold">
                                        {t.formatDate(m.EntityDetails.DateListed,#m/d/Y#)}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        Number:
                                    </div>
                                    <div class="col-sm-9 text-bold">
                                        {m.EntityDetails.ListReferenceNumber}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        Reason Listed:
                                    </div>
                                    <div class="col-sm-9 text-bold">
                                        {m.EntityDetails.ReasonListed}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        Comments:
                                    </div>
                                    <div class="col-sm-9">
                                        {t.comments(m.EntityDetails.Comments):h}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 text-bold bottom-dotted">
                                        IDs
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3 text-bold">
                                        {m.EntityDetails.IDs.EntityID.Type}:
                                    </div>
                                    <div class="col-sm-9">
                                        {m.EntityDetails.IDs.EntityID.Number}
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 15px;">
                                    <div class="col-sm-12 text-bold bottom-dotted">
                                        Addresses
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 text-bold">
                                        Address:
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3" style="padding-left: 30px;">
                                        Country:
                                    </div>
                                    <div class="col-sm-9">
                                        {m.EntityDetails.Addresses.EntityAddress.Country}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 text-bold bottom-dotted">
                                        Additional Information
                                    </div>
                                </div>

                                <div flexy:foreach="m.EntityDetails.AdditionalInfo.EntityAdditionalInfo,info">
                                    <div class="row">
                                        <div class="col-sm-3 text-bold">
                                            {t.nexis_infoKey(info)}
                                        </div>
                                        <div class="col-sm-9">
                                            {info.Value}
                                        </div>
                                    </div>

                                    <div class="row" flexy:if='info.Comments'>
                                        <div class="col-sm-3" style="padding-left: 30px;">
                                            Comments:
                                        </div>
                                        <div class="col-sm-9">
                                            {t.nexis_comments(info.Comments):h}
                                        </div>
                                    </div>

                                </div>

                            </div>
                            
                        </div>
                    </div>
                    
                </div>
                
            </div>
        
            
        {end:}
    
   {end:}

</div>
