<div class="container app-sum-body-container">
    <div class="row">
        <div class="col-md-12 app-sum-body-user-name-container">
            <span class="app-sum-body-user-name">
                {user_name}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 app-sum-body-ref-container">
            <span class="app-sum-body-ref">
                Investment Advisor: {name_advisor}
            </span>
            <br />
            <span class="app-sum-body-ref">
                Reference Code: {ref_code}
            </span>
        </div>
    </div>


    {foreach:summary,stepKey,steps}
    {foreach:steps,sectionKey,sections}
    <div class="row">
        <div class="col-md-12 app-sum-body-section-container">
            <span class="app-sum-body-section">
            {sectionKey}
            </span>
        </div>
    </div>
    <table class="app-sum-body-indi-data-table">
    {foreach:sections,applicants}
    {foreach:applicants,row}
    {if:checkDependency(row)}
        <tr class="app-sum-body-indi-data-row">
            <td class="col-md-6 app-sum-body-indi-data">
                {renderRowLabel(row):h}
            </td>
            <td class="col-md-6 app-sum-body-indi-data">
                {outputQuestionByType(row):h}
            </td>
        </tr>
    {end:}
    {end:}
    {end:}
    </table>
{end:}
{end:}

<!--declaration section-->
<div class="row">
    <div class="col-md-12 app-sum-body-section-container">
        <span class="app-sum-body-section">
            Declaration
        </span>
    </div>
</div>
<table class="app-sum-body-indi-data-table">
{foreach:declarations,declaration}
    <tr class="app-sum-body-indi-data-row">
        <td class="col-md-6 app-sum-body-indi-data">
            {declaration.title}
        </td>
        <td class="col-md-6 app-sum-body-indi-data">
            {if:declaration.is_agreed}
            <span class='glyphicon glyphicon-check app-sum-icon'></span>
            {else:}
            <span class='glyphicon glyphicon-unchecked app-sum-icon'></span>
            {end:}
        </td>
    </tr>
{end:}
</table>





</div>
