<div class="row">
        <div class="col-md-12 app-sum-body-ref-container">           
            <span class="app-sum-header-note-container">
            Your attitude to risk is probably the most important factor to consider before investing.  
            To achieve higher returns, you will have to be prepared to accept a higher risk of capital loss.  
            This is because the assets that offer high returns are generally more volatile than those producing lower returns.  
            It is what we call ‘risk/return trade off’.
            </span>
            <br>   
            <br>                     
            <span class="app-sum-header-note-container">
            We will recommend investment strategies to match your investments to your risk profile.  
            Investing across the various investment sectors according to your risk profile is called diversification.  
            For example, instead of investing only in property, or only in shares, you might invest a proportion in both, 
            or even include cash or fixed interest to create a balanced portfolio.
            </span>
            <br>   
            <br>                     
            <span class="app-sum-header-note-container">
            To determine the most appropriate mix of assets for you to invest in, we need to ask you more detailed 
            questions about investment goals and the exact timeframe in which you want to achieve them.
            </span>
            <br>  
            <br>                                    
            <span class="app-sum-header-note-container">
            By answering the questions below, you will have a good idea about your attitude to risk and what investment 
            sectors are best suited to you. Write your score number in each question so you can more easily calculate 
            your total score at the end.
            </span>
        </div>
    </div>
    <br>