     <div class="row">
        <div class="col-md-12 app-sum-body-ref-container">
            <span class="app-sum-body-ref">
             Inexperienced Investor   
            </span>
            <br>
            <span class="app-sum-header-note-container">
            You have invested in a limited range of assets classes for a period of less than four years and/or 
            have stated that your investment knowledge is low.  
            However, you do understand that prices of securities may go up as well as down.
            </span>
            <br>   
            <br>         
            <span class="app-sum-body-ref">
             Experienced Investor   
            </span>
            <br>
            <span class="app-sum-header-note-container">
            You have invested in various classes for a period of more than four years and have experienced volatility.  
            You have stated that your investment knowledge is good or higher and acknowledge investment risk.
            </span>
            <br>   
            <br>         
            <span class="app-sum-body-ref">
             Professional Investor   
            </span>
            <br>
            <span class="app-sum-header-note-container">
            You frequently trade various asset classes each year for more than four years.  As an individual, 
            you have in excess of US$1.1 million of “investible” assets and have extensive investment knowledge.
            </span>
            <br>  
            <br>   
            <br>         
            <span class="app-sum-body-ref">
             NOTE:   
            </span>
            <span class="app-sum-header-note-container">
            Pursuant to change to the PI framework, effective 25 March 2016, the Company elects to treat all investors 
            as non-professional investors.  No PI assessment is conducted as no wealth management client will be treated 
            as Professional Investors, with the exception of Corporate Professional Investors “CPI”.
            </span>
        </div>
    </div>
    <br>