
<div class="container well matches">
    <div class="row">
        <div class="col-sm-3">
            Source Date:
        </div>
        <div class="col-sm-9 text-bold">
            {t.formatDate(detail.ResultDate,#m/d/Y#)}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Entity Type:
        </div>
        <div class="col-sm-9 text-bold">
            {detail.EntityDetails.EntityType}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Gender:
        </div>
        <div class="col-sm-9 text-bold">
            {detail.EntityDetails.Gender}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Entity Date:
        </div>
        <div class="col-sm-9 text-bold">
            {t.formatDate(detail.EntityDetails.DateListed,#m/d/Y#)}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Number:
        </div>
        <div class="col-sm-9 text-bold">
            {detail.EntityDetails.ListReferenceNumber}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Reason Listed:
        </div>
        <div class="col-sm-9 text-bold">
            {detail.EntityDetails.ReasonListed}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            Comments:
        </div>
        <div class="col-sm-9">
            {t.comments(detail.EntityDetails.Comments):h}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-bold bottom-dotted">
            IDs
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 text-bold">
            {detail.EntityDetails.IDs.EntityID.Type}:
        </div>
        <div class="col-sm-9">
            {detail.EntityDetails.IDs.EntityID.Number}
        </div>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-sm-12 text-bold bottom-dotted">
            Addresses
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-bold">
            Address:
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" style="padding-left: 30px;">
            Country:
        </div>
        <div class="col-sm-9">
            {detail.EntityDetails.Addresses.EntityAddress.Country}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-bold bottom-dotted">
            Additional Information
        </div>
    </div>

    <div flexy:foreach="detail.EntityDetails.AdditionalInfo.EntityAdditionalInfo,info">
        <div class="row">
            <div class="col-sm-3 text-bold">
                {t.infoKey(info)}
            </div>
            <div class="col-sm-9">
                {info.Value}
            </div>
        </div>

        <div class="row" flexy:if='info.Comments'>
            <div class="col-sm-3" style="padding-left: 30px;">
                Comments:
            </div>
            <div class="col-sm-9">
                {t.comments(info.Comments):h}
            </div>
        </div>

    </div>


</div>