<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:html="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> 

    <head>
        <title>Lexis Nexis Result</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta name="google" value="notranslate">

        <link href="{rootURL}/roojs1/css-bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="{rootURL}/roojs1/css-bootstrap/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="{rootURL}/Pman/Coba/templates/css/lexis-nexis.css" rel="stylesheet">

    </head>

    <body class="ytheme-gray" xtype="Roo.bootstrap.Body">

        {outputBody()}

    </body>
    
    <script type="text/javascript" src="{rootURL}/roojs1/roojs-core-debug.js"></script>
    <script type="text/javascript" src="{rootURL}/roojs1/roojs-bootstrap-debug.js"></script>
        

    <flexy:toJSON 
        baseURL="baseURL" 
        rootURL="rootURL"
    ></flexy:toJSON>
    
    <script src="{rootURL}/Pman/Coba/templates/js/lexis-nexis.js" type="text/javascript"></script>
    
</html>
