{if:!t.completed}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger"><i class="glyphicon glyphicon-warning-sign"></i> Lexis Nexis has not been run yet</div>
            </div>
        </div>
    </div>
{else:}
    
    <div class="container well">
        <div class="row">
            <div class="col-xs-12">
                Search Date: {t.reportDate}
            </div>
        </div>
    </div>

    <div class="container well" flexy:if="!matches">
        <div class="row">
            <div class="col-sm-12">
                No matches where found in the Database
            </div>
        </div>
    </div>

    <div flexy:if="matches">

        <div class="container well matches" flexy:foreach="matches,m">
            
            {if:is_rejected(m.coba_investor_lexis_result.status)}
                <div class="rejected">
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <i class="trigger fa fa-plus"></i>
                            <span>Result {m.EntityUniqueID} was flagged as not a match by {m.coba_investor_lexis_result.person_id_name}</span>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button type="button" data-id="{m.coba_investor_lexis_result.id}" class="btn btn-default un-reject-match">
                                <i class="fa fa-times"></i> Undo Reject
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            {m.coba_investor_lexis_result.reason:h}
                        </div>
                    </div>

                    <div class="details">

                        <hr/>

                        <div class="row">
                            <div class="col-sm-3">
                                Source Date:
                            </div>
                            <div class="col-sm-9 text-bold">
                                {t.formatDate(m.ResultDate,#m/d/Y#)}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                Entity Type:
                            </div>
                            <div class="col-sm-9 text-bold">
                                {m.EntityDetails.EntityType}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                Gender:
                            </div>
                            <div class="col-sm-9 text-bold">
                                {m.EntityDetails.Gender}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                Entity Date:
                            </div>
                            <div class="col-sm-9 text-bold">
                                {t.formatDate(m.EntityDetails.DateListed,#m/d/Y#)}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                Number:
                            </div>
                            <div class="col-sm-9 text-bold">
                                {m.EntityDetails.ListReferenceNumber}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                Reason Listed:
                            </div>
                            <div class="col-sm-9 text-bold">
                                {m.EntityDetails.ReasonListed}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3">
                                Comments:
                            </div>
                            <div class="col-sm-9">
                                {t.comments(m.EntityDetails.Comments):h}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-bold bottom-dotted">
                                IDs
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 text-bold">
                                {m.EntityDetails.IDs.EntityID.Type}:
                            </div>
                            <div class="col-sm-9">
                                {m.EntityDetails.IDs.EntityID.Number}
                            </div>
                        </div>

                        <div class="row" style="margin-top: 15px;">
                            <div class="col-sm-12 text-bold bottom-dotted">
                                Addresses
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-bold">
                                Address:
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3" style="padding-left: 30px;">
                                Country:
                            </div>
                            <div class="col-sm-9">
                                {m.EntityDetails.Addresses.EntityAddress.Country}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 text-bold bottom-dotted">
                                Additional Information
                            </div>
                        </div>

                        <div flexy:foreach="m.EntityDetails.AdditionalInfo.EntityAdditionalInfo,info">
                            <div class="row">
                                <div class="col-sm-3 text-bold">
                                    {t.infoKey(info)}
                                </div>
                                <div class="col-sm-9">
                                    {info.Value}
                                </div>
                            </div>

                            <div class="row" flexy:if='info.Comments'>
                                <div class="col-sm-3" style="padding-left: 30px;">
                                    Comments:
                                </div>
                                <div class="col-sm-9">
                                    {t.comments(info.Comments):h}
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            {else:}
            
                <div class="row">
                
                    <div class="col-sm-12 text-right" flexy:if="is_pending(m.coba_investor_lexis_result.status)">
                        <button type="button" data-id="{m.coba_investor_lexis_result.id}" class="btn btn-success accept-match">
                            <i class="fa fa-check"></i> Accept this match
                        </button>
                        <button type="button" data-id="{m.coba_investor_lexis_result.id}" class="btn btn-danger reject-match">
                            <i class="fa fa-times"></i> Reject this match
                        </button>
                    </div>

                    <div class="col-sm-12 text-right" flexy:if="is_accepted(m.coba_investor_lexis_result.status)">
                        <button type="button" data-id="{m.coba_investor_lexis_result.id}" class="btn btn-default un-accept-match">
                            <i class="fa fa-check"></i> Undo Accept
                        </button>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-3">
                        Source Date:
                    </div>
                    <div class="col-sm-9 text-bold">
                        {t.formatDate(m.ResultDate,#m/d/Y#)}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        Entity Type:
                    </div>
                    <div class="col-sm-9 text-bold">
                        {m.EntityDetails.EntityType}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        Gender:
                    </div>
                    <div class="col-sm-9 text-bold">
                        {m.EntityDetails.Gender}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        Entity Date:
                    </div>
                    <div class="col-sm-9 text-bold">
                        {t.formatDate(m.EntityDetails.DateListed,#m/d/Y#)}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        Number:
                    </div>
                    <div class="col-sm-9 text-bold">
                        {m.EntityDetails.ListReferenceNumber}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        Reason Listed:
                    </div>
                    <div class="col-sm-9 text-bold">
                        {m.EntityDetails.ReasonListed}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        Comments:
                    </div>
                    <div class="col-sm-9">
                        {t.comments(m.EntityDetails.Comments):h}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-bold bottom-dotted">
                        IDs
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 text-bold">
                        {m.EntityDetails.IDs.EntityID.Type}:
                    </div>
                    <div class="col-sm-9">
                        {m.EntityDetails.IDs.EntityID.Number}
                    </div>
                </div>

                <div class="row" style="margin-top: 15px;">
                    <div class="col-sm-12 text-bold bottom-dotted">
                        Addresses
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-bold">
                        Address:
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3" style="padding-left: 30px;">
                        Country:
                    </div>
                    <div class="col-sm-9">
                        {m.EntityDetails.Addresses.EntityAddress.Country}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-bold bottom-dotted">
                        Additional Information
                    </div>
                </div>

                <div flexy:foreach="m.EntityDetails.AdditionalInfo.EntityAdditionalInfo,info">
                    <div class="row">
                        <div class="col-sm-3 text-bold">
                            {t.infoKey(info)}
                        </div>
                        <div class="col-sm-9">
                            {info.Value}
                        </div>
                    </div>

                    <div class="row" flexy:if='info.Comments'>
                        <div class="col-sm-3" style="padding-left: 30px;">
                            Comments:
                        </div>
                        <div class="col-sm-9">
                            {t.comments(info.Comments):h}
                        </div>
                    </div>

                </div>
            
            {end:}
            
        </div>
        
    </div>
    
{end:}
