  
       
         
    

        
  <DIV class=" roo-layout-region roo-layout-panel roo-layout-panel-center" xbuilderid="roo-gen6" style="left: 0px; top: 0px; width: 1462px; height: 512px;">
    <DIV unselectable="on" class="roo-unselectable roo-layout-panel-hd breadcrumb roo-layout-title-center" xbuilderid="roo-gen7" style="display: none;">
      <SPAN class="roo-unselectable roo-layout-panel-hd-text" unselectable="on">Investors</SPAN>
      <DIV class="roo-unselectable roo-layout-panel-hd-tools" unselectable="on" xbuilderid="roo-gen8"></DIV>
    </DIV>
    <DIV class="roo-layout-panel-body tab-content roo-tabs-top" xbuilderid="roo-gen9" style="overflow: hidden; height: 512px;">
      <NAV class="navbar navbar-default" xbuilderid="roo-gen60">
        <UL class="nav nav-tabs" role="tablist" xbuilderid="roo-gen61">
          <LI xbuilderid="roo-gen65" class=" active">
            <A href="#" xbuilderid="roo-gen63">
              <SPAN unselectable="on" title="" xbuilderid="roo-gen64">Investors</SPAN>
            </A>
          </LI>
        </UL>
      </NAV>
      <DIV id="tab-body62" class=" tab-content roo-layout-tabs-body" style="position: relative; height: 459px;">
        <DIV class="roo-layout-grid-wrapper  roo-layout-active-content tab-pane" xbuilderid="roo-gen10" xtype="Roo.bootstrap.panel.Grid" style="overflow: auto; position: relative; display: block; zoom: 1; visibility: visible;">
          <DIV xbuilderid="roo-gen11">
            <DIV class="navbar" xbuilderid="roo-comp-1002" style="width: 1460px;">
              <UL class="nav navbar-nav"></UL>
              <DIV class="x-dlg-mask" xbuilderid="roo-gen12" style="width: 3px; height: 50px; display: none;"></DIV>
              <UL class="nav navbar-nav" xbuilderid="roo-comp-1004">
                <LI class="nav-item" xbuilderid="roo-comp-1006" style="float: left">
                  <BUTTON class="btn roo-button btn-primary" xbuilderid="roo-comp-1008" style="margin:10px;">
                    <SPAN class="roo-button-text">Create Investor</SPAN>
                  </BUTTON>
                  <BUTTON class="btn roo-button btn-primary" xbuilderid="roo-comp-1010" style="margin:10px;">
                    <SPAN class="roo-button-text">Import Investor</SPAN>
                  </BUTTON>
                </LI>
                <LI class="nav-item" xbuilderid="roo-comp-1012" style="float: right; width: 250px">
                  <DIV class="" xbuilderid="roo-comp-1014">
                    <FORM method="POST" xbuilderid="roo-comp-1016" class="">
                      <DIV class="form-group" xbuilderid="roo-comp-1018" style="margin:10px;" name="search_filter">
                        <DIV class="input-group">
                          <INPUT xbuilderid="roo-gen17" type="input" value="" class="form-control" placeholder="Search for investor" autocomplete="new-password" name="search_filter"></INPUT>
                          <SPAN class="roo-input-after input-group-addon">
                            <I class="fa fa-search" arian-hidden="true"></I>
                          </SPAN>
                        </DIV>
                      </DIV>
                    </FORM>
                  </DIV>
                </LI>
              </UL>
            </DIV>
          </DIV>
          <DIV xbuilderid="roo-comp-1020" class="table-fixed roo-layout-component-panel " style="width: 1462px; height: 403px;">
            <TABLE class="table table-body-fixed table-hover table-responsive table-fixed">
              <THEAD xbuilderid="roo-gen37">
                <TR xbuilderid="roo-gen71" style="width: 1850px;">
                  <TH style=" width:50px;" sort="userdata_id">ID</TH>
                  <TH style=" width:300px;" sort="full_name">Name</TH>
                  <TH style=" display:none; width:300px;" sort="company_name">Company Name</TH>
                  <TH style=" width:100px;" sort="account_type">Type</TH>
                  <TH style=" width:300px;" sort="in_email">Email</TH>
                  <TH style=" width:150px;" sort="in_contact_number">Phone</TH>
                  <TH style=" width:150px;" sort="investment_advisor_id_name">Investment Advisor</TH>
                  <TH style=" display:none;" sort="account_type"></TH>
                  <TH style=" display:none;" sort="fund_name"></TH>
                  <TH style=" width:300px;" sort="is_submit">Status</TH>
                </TR>
              </THEAD>
              <TBODY xbuilderid="roo-gen36" style="width: 1462px; height: 300px;">
                <TR xbuilderid="roo-gen72" style="width: 1850px;">
                  <TD colspan="10"></TD>
                </TR>
              </TBODY>
              <TFOOT xbuilderid="roo-gen70">
                <TR xbuilderid="roo-gen73" style="width: 1850px;">
                  <TD colspan="10">
                    <DIV class="navbar" xbuilderid="roo-comp-1021">
                      <UL class="nav navbar-nav"></UL>
                      <DIV class="x-dlg-mask" xbuilderid="roo-gen40" style="width: 1334px; height: 50px; display: none;"></DIV>
                      <UL class="nav navbar-nav pagination" xbuilderid="roo-comp-1022">
                        <LI class="nav-item disabled prev" xbuilderid="roo-comp-1023">
                          <A href="#" xbuilderid="roo-gen41" tooltip="First Page">
                            <I class="fa fa-backward"></I> 
                            <SPAN></SPAN>
                          </A>
                        </LI>
                        <LI class="nav-item disabled prev" xbuilderid="roo-comp-1024">
                          <A href="#" xbuilderid="roo-gen43" tooltip="Previous Page">
                            <I class="fa fa-step-backward"></I> 
                            <SPAN></SPAN>
                          </A>
                        </LI>
                        <LI class="nav-item x-paging-position" xbuilderid="roo-comp-1025">
                          <SPAN href="#" xbuilderid="roo-gen45">Page
                            <INPUT type="text" size="3" value="1" class="x-grid-page-number" xbuilderid="roo-gen49"></INPUT>
                            <SPAN class="x-paging-after" xbuilderid="roo-gen46">of 1</SPAN>
                          </SPAN>
                        </LI>
                        <LI class="nav-item disabled next" xbuilderid="roo-comp-1026">
                          <A href="#" xbuilderid="roo-gen52" tooltip="Next Page"> 
                            <I class="fa fa-step-forward"></I>
                          </A>
                        </LI>
                        <LI class="nav-item disabled next" xbuilderid="roo-comp-1027">
                          <A href="#" xbuilderid="roo-gen54" tooltip="Last Page">
                            <I class="fa fa-forward"></I> 
                            <SPAN></SPAN>
                          </A>
                        </LI>
                        <LI class="nav-item" xbuilderid="roo-comp-1028">
                          <A href="#" xbuilderid="roo-gen56" tooltip="Refresh">
                            <I class="fa fa-refresh"></I> 
                            <SPAN></SPAN>
                          </A>
                        </LI>
                      </UL>
                    </DIV>
                  </TD>
                </TR>
              </TFOOT>
            </TABLE>
            <DIV class="roo-el-mask" xbuilderid="roo-gen68" style="z-index: 100; display: none;"></DIV>
            <DIV class="roo-el-mask-msg roo-el-mask-msg" xbuilderid="roo-gen69" style="left: -15px; top: 69px; z-index: 102; display: none;">
              <DIV>Loading...</DIV>
            </DIV>
          </DIV>
        </DIV>
      </DIV>
    </DIV>
  </DIV>
