  
       
         
    

        
  <DIV class=" roo-layout-region roo-layout-panel roo-layout-panel-center" xbuilderid="roo-gen6" style="left: 0px; top: 0px; width: 1465px; height: 503px;">
    <DIV unselectable="on" class="roo-unselectable roo-layout-panel-hd breadcrumb roo-layout-title-center" xbuilderid="roo-gen7" style="display: none;">
      <SPAN class="roo-unselectable roo-layout-panel-hd-text" unselectable="on">Fund Manager</SPAN>
      <DIV class="roo-unselectable roo-layout-panel-hd-tools" unselectable="on" xbuilderid="roo-gen8"></DIV>
    </DIV>
    <DIV class="roo-layout-panel-body tab-content roo-tabs-top" xbuilderid="roo-gen9" style="overflow: hidden; height: 503px;">
      <NAV class="navbar navbar-default" xbuilderid="roo-gen61">
        <UL class="nav nav-tabs" role="tablist" xbuilderid="roo-gen62">
          <LI xbuilderid="roo-gen66" class=" active">
            <A href="#" xbuilderid="roo-gen64">
              <SPAN unselectable="on" title="" xbuilderid="roo-gen65">Fund Manager</SPAN>
            </A>
          </LI>
        </UL>
      </NAV>
      <DIV id="tab-body63" class=" tab-content roo-layout-tabs-body" style="position: relative; height: 450px;">
        <DIV class="roo-layout-grid-wrapper  roo-layout-active-content tab-pane" xbuilderid="roo-gen10" xtype="Roo.bootstrap.panel.Grid" style="overflow: auto; position: relative; display: block; zoom: 1; visibility: visible;">
          <DIV xbuilderid="roo-gen11">
            <DIV class="navbar" xbuilderid="roo-comp-1002" style="width: 1463px;">
              <UL class="nav navbar-nav"></UL>
              <DIV class="x-dlg-mask" xbuilderid="roo-gen12" style="width: 3px; height: 50px; display: none;"></DIV>
              <UL class="nav navbar-nav" xbuilderid="roo-comp-1004" style="width: 100%">
                <LI class="nav-item" xbuilderid="roo-comp-1006" style="width: 100%;">
                  <DIV class="container" xbuilderid="roo-comp-1008" style="width: 100%;">
                    <DIV class="row clearfix" xbuilderid="roo-comp-1010" style="padding: 10px;">
                      <DIV class="column col-md-2" xbuilderid="roo-comp-1012">
                        <DIV class="form-group" xbuilderid="roo-comp-1014">
                          <DIV class="input-group">
                            <INPUT xbuilderid="roo-gen13" type="text" value="" class="form-control" placeholder="" autocomplete="new-password"></INPUT>
                            <SPAN class="roo-input-after input-group-btn" xbuilderid="roo-gen20">
                              <BUTTON class="btn roo-button btn-default" xbuilderid="roo-comp-1015">
                                <SPAN class="roo-button-text">
                                  <I class="fa fa-search"></I>
                                </SPAN>
                              </BUTTON>
                            </SPAN>
                          </DIV>
                        </DIV>
                      </DIV>
                      <DIV class="column col-md-7" xbuilderid="roo-comp-1017"></DIV>
                      <DIV class="column col-md-3" xbuilderid="roo-comp-1019">
                        <DIV class="btn-group" xbuilderid="roo-comp-1021" style="float: right">
                          <BUTTON class="btn roo-button btn-default" xbuilderid="roo-comp-1023">
                            <SPAN class="roo-button-text">
                              <I class="fa fa-plus"></I> Add
                            </SPAN>
                          </BUTTON>
                        </DIV>
                      </DIV>
                    </DIV>
                  </DIV>
                </LI>
              </UL>
            </DIV>
          </DIV>
          <DIV xbuilderid="roo-comp-1025" class="table-fixed roo-layout-component-panel " style="width: 1465px; height: 379px;">
            <TABLE class="table table-body-fixed table-hover table-responsive table-fixed">
              <THEAD xbuilderid="roo-gen30">
                <TR xbuilderid="roo-gen72" style="width: 1465px;">
                  <TH style="" class="sortable col-md-3" sort="id" xbuilderid="roo-gen31">
                    <I class="glyphicon"></I>ID
                  </TH>
                  <TH style="" class="sortable col-md-3" sort="isin_code" xbuilderid="roo-gen32">
                    <I class="glyphicon"></I>Fund Code
                  </TH>
                  <TH style="" class="sortable col-md-3" sort="name" xbuilderid="roo-gen33">
                    <I class="glyphicon"></I>Fund Name
                  </TH>
                  <TH style="" class="sortable col-md-3" sort="is_active" xbuilderid="roo-gen34">
                    <I class="glyphicon"></I>Active
                  </TH>
                </TR>
              </THEAD>
              <TBODY xbuilderid="roo-gen29" style="width: 1465px; height: 276px;">
                <TR xbuilderid="roo-gen73" style="width: 1465px;">
                  <TD colspan="4"></TD>
                </TR>
              </TBODY>
              <TFOOT xbuilderid="roo-gen71">
                <TR xbuilderid="roo-gen74" style="width: 1465px;">
                  <TD colspan="4">
                    <DIV class="navbar" xbuilderid="roo-comp-1026">
                      <UL class="nav navbar-nav"></UL>
                      <DIV class="x-dlg-mask" xbuilderid="roo-gen41" style="width: 4066px; height: 50px; display: none;"></DIV>
                      <UL class="nav navbar-nav pagination" xbuilderid="roo-comp-1027">
                        <LI class="nav-item disabled prev" xbuilderid="roo-comp-1028">
                          <A href="#" xbuilderid="roo-gen42" tooltip="First Page">
                            <I class="fa fa-backward"></I> 
                            <SPAN></SPAN>
                          </A>
                        </LI>
                        <LI class="nav-item disabled prev" xbuilderid="roo-comp-1029">
                          <A href="#" xbuilderid="roo-gen44" tooltip="Previous Page">
                            <I class="fa fa-step-backward"></I> 
                            <SPAN></SPAN>
                          </A>
                        </LI>
                        <LI class="nav-item x-paging-position" xbuilderid="roo-comp-1030">
                          <SPAN href="#" xbuilderid="roo-gen46">Page
                            <INPUT type="text" size="3" value="1" class="x-grid-page-number" xbuilderid="roo-gen50"></INPUT>
                            <SPAN class="x-paging-after" xbuilderid="roo-gen47">of 1</SPAN>
                          </SPAN>
                        </LI>
                        <LI class="nav-item disabled next" xbuilderid="roo-comp-1031">
                          <A href="#" xbuilderid="roo-gen53" tooltip="Next Page"> 
                            <I class="fa fa-step-forward"></I>
                          </A>
                        </LI>
                        <LI class="nav-item disabled next" xbuilderid="roo-comp-1032">
                          <A href="#" xbuilderid="roo-gen55" tooltip="Last Page">
                            <I class="fa fa-forward"></I> 
                            <SPAN></SPAN>
                          </A>
                        </LI>
                        <LI class="nav-item" xbuilderid="roo-comp-1033">
                          <A href="#" xbuilderid="roo-gen57" tooltip="Refresh">
                            <I class="fa fa-refresh"></I> 
                            <SPAN></SPAN>
                          </A>
                        </LI>
                      </UL>
                    </DIV>
                  </TD>
                </TR>
              </TFOOT>
            </TABLE>
            <DIV class="roo-el-mask" xbuilderid="roo-gen69" style="z-index: 100; display: none;"></DIV>
            <DIV class="roo-el-mask-msg roo-el-mask-msg" xbuilderid="roo-gen70" style="left: -15px; top: 69px; z-index: 102; display: none;">
              <DIV>Loading...</DIV>
            </DIV>
          </DIV>
        </DIV>
      </DIV>
    </DIV>
  </DIV>
