  
       
         
    

        
  <DIV class=" roo-layout-region roo-layout-panel roo-layout-panel-center" xbuilderid="roo-gen6" style="left: 0px; top: 0px; width: 1465px; height: 569px;">
    <DIV unselectable="on" class="roo-unselectable roo-layout-panel-hd breadcrumb roo-layout-title-center" xbuilderid="roo-gen7" style="display: none;">
      <SPAN class="roo-unselectable roo-layout-panel-hd-text" unselectable="on">Coba</SPAN>
      <DIV class="roo-unselectable roo-layout-panel-hd-tools" unselectable="on" xbuilderid="roo-gen8"></DIV>
    </DIV>
    <DIV class="roo-layout-panel-body tab-content roo-tabs-top" xbuilderid="roo-gen9" style="overflow: hidden; height: 569px;">
      <NAV class="navbar navbar-default" xbuilderid="roo-gen17">
        <UL class="nav nav-tabs" role="tablist" xbuilderid="roo-gen18">
          <LI xbuilderid="roo-gen22" class=" active">
            <A href="#" xbuilderid="roo-gen20">
              <SPAN unselectable="on" title="" xbuilderid="roo-gen21">Coba</SPAN>
            </A>
          </LI>
        </UL>
      </NAV>
      <DIV id="tab-body19" class=" tab-content roo-layout-tabs-body" style="position: relative; height: 516px;">
        <DIV xbuilderid="roo-gen10" class=" roo-layout-container roo-layout-nested-layout roo-layout-active-content tab-pane " xtype="Roo.bootstrap.panel.Nest" style="position: relative; display: block; zoom: 1; visibility: visible; width: 1465px; height: 516px;">
          <DIV class=" roo-layout-region roo-layout-panel roo-layout-panel-center" xbuilderid="roo-gen13" style="left: 0px; top: 0px; width: 1465px; height: 516px;">
            <DIV unselectable="on" class="roo-unselectable roo-layout-panel-hd breadcrumb roo-layout-title-center" xbuilderid="roo-gen14" style="display: none;">
              <SPAN class="roo-unselectable roo-layout-panel-hd-text" unselectable="on"> </SPAN>
              <DIV class="roo-unselectable roo-layout-panel-hd-tools" unselectable="on" xbuilderid="roo-gen15"></DIV>
            </DIV>
            <DIV class="roo-layout-panel-body tab-content" xbuilderid="roo-gen16" style="overflow: hidden; height: 516px;"></DIV>
          </DIV>
        </DIV>
      </DIV>
    </DIV>
  </DIV>
