
.text-bold {
    font-weight: bold;
}

.bottom-dotted {
    border-bottom: 1px dotted #ccc;
}

.rejected .trigger {
    cursor: pointer;
}

.rejected .trigger:before {
    content: "\f067";
}

.rejected .details {
    display: none;
}

.rejected.expanded .details {
    display: block;
}

.rejected.expanded .trigger:before {
    content: "\f068";
}