        <div class="container">
            <div class="row app-sum-footer-container">
                <div class="col-md-12">
                    <table>
                        <tr>
                            <td class="col-md-2 app-sum-footer-cib-container">                                
                            </td>
                            <td class="col-md-10 app-sum-footer-text">
                                <span class="app-sum-footer-capcomp"><span class="client-company-name"></span></span>.
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>