   <script type="text/javascript" charset="utf-8">
            
            
            window.onload = function () {
                var r = Raphael(document.body, 600,300);
                
                var url = baseURL +'/PressRelease/DistributionReport/BreakdownByNewsCoverage';
                
                
                 //r.text(340, 290, "Date").attr( { font: "12px 'Fontin Sans', Fontin-Sans, sans-serif" });
                  
                new Pman.Request({
                    url : url +'/data' +
                        '?fn=' +fn + 
                        '&release_id=' +  release_id,
                    
                    method : 'GET',
                    
                    success : function(res) {
                        var d = res.data;
                        var cols = [];
                        var labels = [];
                        var titles = [];
                        
                        Roo.each(res.data, function(d) {
                            cols.push(d.qty * 1 );
                            labels.push(d.qty + '');
                            titles.push(d.newsType + ' (' + d.qty + ')');
                        });
                        Roo.log(cols);
                        r.piechart(160, 150, 120, cols, 
                        { 
                             cut: cols.length,
                             legend: titles,
                             legendpos: "east"
                         }
                     );
                        
                        // now send the svg to get converted...    
                         new Pman.Request({
                            method : 'POST',
                            
                            url : url,
                            params : {
                                fn : fn,
                                data : r.toSVG() 
                                
                                
                            }
                        });
                    }
                    
                });
                
                
                
                
          
                
            };
      
        </script>