<!DOCTYPE html>
<html>
    <head>
        <title>Chart</title>
         
        
    <script type="text/javascript" src="{rootURL}/roojs1/roojs-debug.js"></script>
    
     <script type="text/javascript" src="{rootURL}/raphael/raphael.js"></script>
     <script type="text/javascript" src="{rootURL}/raphael/plugins/raphael.export.js"></script> 
     <script type="text/javascript" src="{rootURL}/g.raphael/g.raphael.js"></script>
     <script type="text/javascript" src="{rootURL}/g.raphael/g.pie.js"></script>
     <script type="text/javascript" src="{rootURL}/g.raphael/g.bar.js"></script>
     <script type="text/javascript" src="{rootURL}/g.raphael/g.line.js"></script>
     <script type="text/javascript" charset="utf-8">
        Pman = {};
    
     </script>
     <script type="text/javascript" src="{rootURL}/Pman/Core/Pman.Request.js"></script>
     
     <flexy:toJavascript
                baseURL="baseURL"
                release_id="release_id"
                fn="fn"></flexy:toJavascript>
     
     
     
     {outputBody():h}
     
    </head>
    <body>  </body>
</head>
          