  
       
        
     
    

        
  <CENTER xbuilderid="roo-gen3" class="mailer-body" xtype="Roo.mailer.Body">
    <TABLE border="0" cellpadding="0" cellspacing="0" height="100%" align="center" class="roo-m-body-table mailer-body">
      <TBODY>
        <TR>
          <TD align="center" valight="top" class="roo-m-body-cell">
            <TABLE border="0" cellpadding="0" cellspacing="0" class="roo-m-body-container " xbuilderid="roo-gen4" xtype="Roo.mailer.BodyContainer">
              <TBODY xbuilderid="roo-gen5">
                <TR xbuilderid="roo-gen6">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen7">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-preheader " xbuilderid="roo-gen8" style="padding: 10px 20px;" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen9">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-preheader-content">Media OutReach Press release distribution report</TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen10">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen11">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-header " xbuilderid="roo-gen12" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen15">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-header-content" xbuilderid="roo-gen13">
                            <H2 xbuilderid="roo-gen14" style="padding: 10px;" xtype="Roo.bootstrap.Header">Media OutReach News Dashboard - {daysHtml():h} Day Report</H2>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen16">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen17">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-row " xbuilderid="roo-gen18" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen24">
                        <TR class="roo-m-block-tr" xbuilderid="roo-gen19">
                          <TD align="center" valign="top" style="padding-top : 20px;" class="roo-m-column" xbuilderid="roo-gen20">
                            <TABLE border="0" cellpadding="20" cellspacing="0" width="100%" xbuilderid="roo-gen21" xtype="Roo.mailer.Column" style="width: 100%;">
                              <TBODY xbuilderid="roo-gen25">
                                <TR>
                                  <TD align="center" valight="top" class="roo-m-column-left-content roo-m-column-body">
                                    <IMG src="https://{t.HTTP_HOST}{t.rootURL}/Release/templates/images/widget-logo.png" class="roo-m-column-image" style="max-width: 260px;"></IMG>
                                  </TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                          </TD>
                          <TD align="center" valign="top" style="padding-top : 20px;" class="roo-m-column" xbuilderid="roo-gen22">
                            <TABLE border="0" cellpadding="20" cellspacing="0" width="100%" xbuilderid="roo-gen23" xtype="Roo.mailer.Column" style="width: 100%;">
                              <TBODY xbuilderid="roo-gen26">
                                <TR>
                                  <TD align="center" valight="top" class="roo-m-column-right-content roo-m-column-body">{t.releaseLogo():h}</TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen27">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen28">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen29" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen34">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen30">
                            <DIV class="container" xbuilderid="roo-gen31" xtype="Roo.bootstrap.Container">
                              <B> Description : </B> {release.headline}
                            </DIV>
                            <DIV class="container" xbuilderid="roo-gen32" xtype="Roo.bootstrap.Container">
                              <B> Release Details: </B>  
                            </DIV>
                            <DIV class="container" xbuilderid="roo-gen33" flexy:foreach="releases,rr" xtype="Roo.bootstrap.Container">
                              <B>#{rr.id}</B> -  {rr.publish_dt(#d F Y h:ia#)} - {rr.inlanguages}
                            </DIV>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen35">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen36">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen37" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen44">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen38">
                            <DIV class="container" xbuilderid="roo-gen39" style="text-align: center;" xtype="Roo.bootstrap.Container">
                              <SPAN class="container" xbuilderid="roo-gen40" xtype="Roo.bootstrap.Container">Download Report : </SPAN>
                              <A href="{toWordUrl()}" target="_blank" xbuilderid="roo-gen41" xtype="Roo.bootstrap.Link">as MS Word</A>
                              <SPAN class="container" xbuilderid="roo-gen42" xtype="Roo.bootstrap.Container"> | </SPAN>
                              <A href="{toExcelUrl()}" target="_blank" xbuilderid="roo-gen43" xtype="Roo.bootstrap.Link">as Excel</A>
                            </DIV>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen45">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen46">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen47" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen50">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen48">
                            <H2 xbuilderid="roo-gen49" xtype="Roo.bootstrap.Header">Overview</H2>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen51">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen52">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-row " xbuilderid="roo-gen53" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen75">
                        <TR class="roo-m-block-tr" xbuilderid="roo-gen54">
                          <TD align="center" valign="top" style="padding-top : 20px;" class="roo-m-column" xbuilderid="roo-gen55">
                            <TABLE border="0" cellpadding="20" cellspacing="0" width="100%" xbuilderid="roo-gen56" xtype="Roo.mailer.Column" style="width: 100%;">
                              <TBODY xbuilderid="roo-gen76">
                                <TR>
                                  <TD align="center" valight="top" class="roo-m-column-left-content roo-m-column-body" xbuilderid="roo-gen57">
                                    <H5 xbuilderid="roo-gen58" xtype="Roo.bootstrap.Header">Distribution</H5>
                                    <DIV class="container" xbuilderid="roo-gen59" xtype="Roo.bootstrap.Container">
                                      <SMALL>Total Distribution Points:</SMALL>
                                      <B> {release.delivered_total} </B>  
                                    </DIV>
                                    <DIV class="container" xbuilderid="roo-gen60" xtype="Roo.bootstrap.Container">
                                      <SMALL>Countries Targeted :</SMALL> 
                                      <B>{countries_total}</B>
                                    </DIV>
                                    <DIV class="container" xbuilderid="roo-gen61" xtype="Roo.bootstrap.Container">
                                      <SMALL> Languages:</SMALL> 
                                      <B> {languages_total} </B>
                                    </DIV>
                                    <DIV class="container" xbuilderid="roo-gen62" xtype="Roo.bootstrap.Container">
                                      <SMALL> Beats Covered :</SMALL> 
                                      <B>{beats_total}</B>
                                    </DIV>
                                  </TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                          </TD>
                          <TD align="center" valign="top" style="padding-top : 20px;" class="roo-m-column" xbuilderid="roo-gen63">
                            <TABLE border="0" cellpadding="20" cellspacing="0" width="100%" xbuilderid="roo-gen64" xtype="Roo.mailer.Column" style="width: 100%;">
                              <TBODY xbuilderid="roo-gen77">
                                <TR>
                                  <TD align="center" valight="top" class="roo-m-column-right-content roo-m-column-body" xbuilderid="roo-gen65">
                                    <H5 xbuilderid="roo-gen66" xtype="Roo.bootstrap.Header">Total Coverage</H5>
                                    <DIV class="container" xbuilderid="roo-gen67" xtype="Roo.bootstrap.Container">
                                      <SMALL> Unique Web sites :</SMALL>
                                      <B> {release.media_total} </B>  
                                    </DIV>
                                    <DIV class="container" xbuilderid="roo-gen68" xtype="Roo.bootstrap.Container">
                                      <SMALL> Total Clippings :</SMALL>
                                      <B> {release.clipping_total} </B>  
                                    </DIV>
                                    <DIV class="container" xbuilderid="roo-gen69" xtype="Roo.bootstrap.Container">
                                      <SMALL> Total Reach :</SMALL>
                                      <B> {release.reach_total} </B>  
                                    </DIV>
                                    <DIV class="container" xbuilderid="roo-gen70" flexy:if="release_is_feed()" xtype="Roo.bootstrap.Container">
                                      <SMALL> Media Write Up Advalue :</SMALL>
                                      <B> US${advalue_total(#media#)} </B>  
                                    </DIV>
                                    <DIV class="container" xbuilderid="roo-gen71" flexy:if="release_is_feed()" xtype="Roo.bootstrap.Container">
                                      <SMALL> Online News Posting Advalue :</SMALL>
                                      <B> US${advalue_total(#posting#)} </B>  
                                    </DIV>
                                    <DIV class="container" xbuilderid="roo-gen72" xtype="Roo.bootstrap.Container">
                                      <SMALL> Total Advalue :</SMALL>
                                      <B> US${advalue_total(#all#)} </B>  
                                    </DIV>
                                    <DIV class="container" xbuilderid="roo-gen73" flexy:if="release_is_feed()" xtype="Roo.bootstrap.Container">
                                      <SMALL> Total Media Write-up Coverage :</SMALL>
                                      <B> {media_write_up_total()} </B>  
                                    </DIV>
                                    <DIV class="container" xbuilderid="roo-gen74" flexy:if="release_is_feed()" xtype="Roo.bootstrap.Container">
                                      <SMALL> Total Online News Posting :</SMALL>
                                      <B> {news_online_posting_total()} </B>  
                                    </DIV>
                                  </TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen78">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen79">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen80" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen83">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen81">
                            <H2 xbuilderid="roo-gen82" xtype="Roo.bootstrap.Header">Distribution Details</H2>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen84">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen85">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-row " xbuilderid="roo-gen86" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen98">
                        <TR class="roo-m-block-tr" xbuilderid="roo-gen87">
                          <TD align="center" valign="top" style="padding-top : 20px;" class="roo-m-column" xbuilderid="roo-gen88">
                            <TABLE border="0" cellpadding="20" cellspacing="0" width="100%" xbuilderid="roo-gen89" xtype="Roo.mailer.Column" style="width: 100%;">
                              <TBODY xbuilderid="roo-gen99">
                                <TR>
                                  <TD align="center" valight="top" class="roo-m-column-left-content roo-m-column-body" xbuilderid="roo-gen90">
                                    <H5 xbuilderid="roo-gen91" xtype="Roo.bootstrap.Header">Countries</H5>
                                    <DIV class="container" xbuilderid="roo-gen92" xtype="Roo.bootstrap.Container">
                                      <UL>
   
                                        <LI flexy:if="distribution.international">International (Outside of Asia Pacific)</LI>
   
                                        <LI flexy:foreach="distribution.regions,c">Regional: {c}</LI>
   
                                        <LI flexy:foreach="distribution.countries,c">{c}</LI>

                                      </UL>
                                    </DIV>
                                  </TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                          </TD>
                          <TD align="center" valign="top" style="padding-top : 20px;" class="roo-m-column" xbuilderid="roo-gen93">
                            <TABLE border="0" cellpadding="20" cellspacing="0" width="100%" xbuilderid="roo-gen94" xtype="Roo.mailer.Column" style="width: 100%;">
                              <TBODY xbuilderid="roo-gen100">
                                <TR>
                                  <TD align="center" valight="top" class="roo-m-column-right-content roo-m-column-body" xbuilderid="roo-gen95">
                                    <H5 xbuilderid="roo-gen96" xtype="Roo.bootstrap.Header">Languages</H5>
                                    <DIV class="container" xbuilderid="roo-gen97" xtype="Roo.bootstrap.Container">
                                      <UL>
                                        <LI flexy:foreach="languages,l">{l}</LI>
                                      </UL>
                                    </DIV>
                                  </TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen101">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen102">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-row " xbuilderid="roo-gen103" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen110">
                        <TR class="roo-m-block-tr" xbuilderid="roo-gen104">
                          <TD align="center" valign="top" style="padding-top : 20px;" class="roo-m-column" xbuilderid="roo-gen105">
                            <TABLE border="0" cellpadding="20" cellspacing="0" width="100%" xbuilderid="roo-gen106" xtype="Roo.mailer.Column" style="width: 100%;">
                              <TBODY xbuilderid="roo-gen111">
                                <TR>
                                  <TD align="center" valight="top" class="roo-m-column-left-content roo-m-column-body" xbuilderid="roo-gen107">
                                    <H5 xbuilderid="roo-gen108" xtype="Roo.bootstrap.Header">Found on these Search Engines</H5>
                                    <DIV class="container" xbuilderid="roo-gen109" xtype="Roo.bootstrap.Container">
                                      <UL>
    
                                        <LI flexy:foreach="suppliers,s">{s.name}</LI>

                                      </UL>

                                    </DIV>
                                  </TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen112">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen113">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen114" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen118">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen115">
                            <H2 xbuilderid="roo-gen116" xtype="Roo.bootstrap.Header">Volume over time</H2>
                            <DIV class="container" xbuilderid="roo-gen117" xtype="Roo.bootstrap.Container">
                              <IMG src="https://{HTTP_HOST}{baseURL}/PressRelease/DistributionReport/VolumeOverTime/image?release_id={release.id}&days={days}"></IMG>
                            </DIV>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen119">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen120">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen121" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen125">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen122">
                            <H2 xbuilderid="roo-gen123" xtype="Roo.bootstrap.Header">Breakdown by language</H2>
                            <DIV class="container" xbuilderid="roo-gen124" xtype="Roo.bootstrap.Container">
                              <IMG src="https://{HTTP_HOST}{baseURL}/PressRelease/DistributionReport/BreakdownByLanguage/image?release_id={release.id}&days={days}"></IMG>
                            </DIV>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen126">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen127">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen128" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen132">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen129">
                            <H2 xbuilderid="roo-gen130" xtype="Roo.bootstrap.Header">Breakdown by country</H2>
                            <DIV class="container" xbuilderid="roo-gen131" xtype="Roo.bootstrap.Container">
                              <IMG src="https://{HTTP_HOST}{baseURL}/PressRelease/DistributionReport/BreakdownByCountry/image?release_id={release.id}&days={days}"></IMG>
                            </DIV>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen133">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen134">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen135" flexy:if="release_is_feed()" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen139">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen136">
                            <H2 xbuilderid="roo-gen137" xtype="Roo.bootstrap.Header">Share of Voice By Type of News Coverage</H2>
                            <DIV class="container" xbuilderid="roo-gen138" xtype="Roo.bootstrap.Container">
                              <IMG src="https://{HTTP_HOST}{baseURL}/PressRelease/DistributionReport/BreakdownByNewsCoverage/image?release_id={release.id}&days={days}"></IMG>
                            </DIV>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen140">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen141">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen142" flexy:if="hasClippingsDist()" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen146">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen143">
                            <H2 xbuilderid="roo-gen144" xtype="Roo.bootstrap.Header">Top Media by Reach - Media Write-up Coverage</H2>
                            <DIV class="container" xbuilderid="roo-gen145" xtype="Roo.bootstrap.Container">
                              <TABLE width="100%">
    
                                <TBODY xbuilderid="roo-gen147">
                                  <TR style="font-weight:bold">
                                    <TD>
                                      <SMALL>Source</SMALL>
                                    </TD>
                                    <TD>
                                      <SMALL>Source Link</SMALL>
                                    </TD>
                                    <TD>
                                      <SMALL>Download</SMALL>
                                    </TD>
                                    <TD>
                                      <SMALL>Circulation</SMALL>
                                    </TD>
                                  </TR>
    
                                  <TR flexy:foreach="release.clippings_dist,c">
        
                                    <TD style="width:50%">
                                      <SMALL>{c.media_name} ({c.language_tr})</SMALL>
                                    </TD>
        
                                    <TD>
                                      <A href="{c.remote_url}" target="_new">
                                        <IMG src="https://{t.HTTP_HOST}{t.rootURL}/Pman/templates/images/view-document.gif" title="View"></IMG>
                                      </A>
                                    </TD>
        
                                    <TD>
                                      <A href="https://{HTTP_HOST}{baseURL}/Clipping/View/download/{c.id}.pdf?authkey=" target="_new">
                                        <IMG src="https://{t.HTTP_HOST}{t.rootURL}/Pman/templates/images/save.gif" title="Download"></IMG>
                                      </A>
                                    </TD>
        
                                    <TD>
                                      <SMALL>{c.circulationFormated()}</SMALL>
                                    </TD>
    
                                  </TR>
    
 
                                </TBODY>
                              </TABLE>

                            </DIV>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen148">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen149">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen150" flexy:if="hasClippingsDistFeed()" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen154">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen151">
                            <H2 xbuilderid="roo-gen152" xtype="Roo.bootstrap.Header">Top Media by Reach - Online News Posting</H2>
                            <DIV class="container" xbuilderid="roo-gen153" xtype="Roo.bootstrap.Container">
                              <TABLE width="100%">
    
                                <TBODY xbuilderid="roo-gen155">
                                  <TR style="font-weight:bold">
                                    <TD>
                                      <SMALL>Source</SMALL>
                                    </TD>
                                    <TD>
                                      <SMALL>Source Link</SMALL>
                                    </TD>
                                    <TD>
                                      <SMALL>Download</SMALL>
                                    </TD>
                                    <TD>
                                      <SMALL>Circulation</SMALL>
                                    </TD>
                                  </TR>
    
                                  <TR flexy:foreach="release.clippings_dist_feed,c">
        
                                    <TD style="width:50%">
                                      <SMALL>{c.media_name} ({c.language_tr})</SMALL>
                                    </TD>
        
                                    <TD>
                                      <A href="{c.remote_url}" target="_new">
                                        <IMG src="https://{t.HTTP_HOST}{t.rootURL}/Pman/templates/images/view-document.gif" title="View"></IMG>
                                      </A>
                                    </TD>
        
                                    <TD>
                                      <A href="https://{HTTP_HOST}{baseURL}/Clipping/View/download/{c.id}.pdf?authkey=" target="_new">
                                        <IMG src="https://{t.HTTP_HOST}{t.rootURL}/Pman/templates/images/save.gif" title="Download"></IMG>
                                      </A>
                                    </TD>
        
                                    <TD>
                                      <SMALL>{c.circulationFormated()}</SMALL>
                                    </TD>
    
                                  </TR>
    
 
                                </TBODY>
                              </TABLE>

                            </DIV>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen156">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen157">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen158" flexy:if="hasClippings()" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen161">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen159">
                            <H2 xbuilderid="roo-gen160" xtype="Roo.bootstrap.Header">Media Write-up Coverage</H2>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen162">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen163">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-row " xbuilderid="roo-gen164" flexy:foreach="release.clippings,clip" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen170">
                        <TR class="roo-m-block-tr" xbuilderid="roo-gen165">
                          <TD align="center" valign="top" style="padding-top : 20px;" class="roo-m-column" xbuilderid="roo-gen166">
                            <TABLE border="0" cellpadding="20" cellspacing="0" width="200" xbuilderid="roo-gen167" xtype="Roo.mailer.Column" style="width: 200px;">
                              <TBODY xbuilderid="roo-gen171">
                                <TR>
                                  <TD align="center" valight="top" class="roo-m-column-left-content roo-m-column-body">
                                    <A href="https://{t.HTTP_HOST}{t.baseURL}/Clipping/View/download/{clip.id}.pdf?authkey={t.authKey}">
                                      <IMG width="200" mailembed="no" src="https://{t.HTTP_HOST}{t.baseURL}/Clipping/View/thumb/{clip.id}.jpg?authkey={t.authKey}"></IMG>
                                    </A>
                                  </TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                          </TD>
                          <TD align="center" valign="top" style="padding-top : 20px;" class="roo-m-column" xbuilderid="roo-gen168">
                            <TABLE border="0" cellpadding="20" cellspacing="0" width="340" xbuilderid="roo-gen169" xtype="Roo.mailer.Column" style="width: 340px;">
                              <TBODY xbuilderid="roo-gen172">
                                <TR>
                                  <TD align="center" valight="top" class="roo-m-column-right-content roo-m-column-body"> 
Headline: 
                                    <A href="http://{t.HTTP_HOST}/index.php/Clipping/View/download/{clip.id}.pdf?authkey={t.authKey}">
                                      <B>{clip.headline()}</B>
                                    </A>
                                    <BR/>
Media Title: {clip.media_name} 
                                    <BR/>
Published: {clip.published()} 
                                    <BR/>
Country: {clip.country(#en#)} 
                                    <BR/>
Language: {clip.language(#en#)}
                                    <BR/>
AdValue: US${clip.advalue} 
                                    <BR/>
Circulation: {clip.circulationFormated()}
                                    <BR/>
URL: 
                                    <A target="_new" href="{clip.remote_url}">{clip.media_name}</A>
                                    <BR/>

                                    <BR/>
 
                                  </TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen173">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen174">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen175" flexy:if="hasClippingsFeed()" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen178">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen176">
                            <H2 xbuilderid="roo-gen177" xtype="Roo.bootstrap.Header">Online News Posting</H2>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen179">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen180">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-row " xbuilderid="roo-gen181" flexy:foreach="release.clippings_feed,clip" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen187">
                        <TR class="roo-m-block-tr" xbuilderid="roo-gen182">
                          <TD align="center" valign="top" style="padding-top : 20px;" class="roo-m-column" xbuilderid="roo-gen183">
                            <TABLE border="0" cellpadding="20" cellspacing="0" width="200" xbuilderid="roo-gen184" xtype="Roo.mailer.Column" style="width: 200px;">
                              <TBODY xbuilderid="roo-gen188">
                                <TR>
                                  <TD align="center" valight="top" class="roo-m-column-left-content roo-m-column-body">
                                    <A href="http://{t.HTTP_HOST}{t.baseURL}/Clipping/View/download/{clip.id}.pdf?authkey={t.authKey}">
                                      <IMG width="200" mailembed="no" src="http://{t.HTTP_HOST}{t.baseURL}/Clipping/View/thumb/{clip.id}.jpg?authkey={t.authKey}"></IMG>
                                    </A>
                                  </TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                          </TD>
                          <TD align="center" valign="top" style="padding-top : 20px;" class="roo-m-column" xbuilderid="roo-gen185">
                            <TABLE border="0" cellpadding="20" cellspacing="0" width="340" xbuilderid="roo-gen186" xtype="Roo.mailer.Column" style="width: 340px;">
                              <TBODY xbuilderid="roo-gen189">
                                <TR>
                                  <TD align="center" valight="top" class="roo-m-column-right-content roo-m-column-body"> 
Headline: 
                                    <A href="http://{t.HTTP_HOST}/index.php/Clipping/View/download/{clip.id}.pdf?authkey={t.authKey}">
                                      <B>{clip.headline()}</B>
                                    </A>
                                    <BR/>
Media Title: {clip.media_name} 
                                    <BR/>
Published: {clip.published()} 
                                    <BR/>
Country: {clip.country(#en#)} 
                                    <BR/>
Language: {clip.language(#en#)}
                                    <BR/>
AdValue: US${clip.advalue} 
                                    <BR/>
Circulation: {clip.circulationFormated()}
                                    <BR/>
URL: 
                                    <A target="_new" href="{clip.remote_url}">{clip.media_name}</A>
                                    <BR/>

                                    <BR/>
 
                                  </TD>
                                </TR>
                              </TBODY>
                            </TABLE>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen190">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen191">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-body " xbuilderid="roo-gen192" xtype="Roo.mailer.Block">
                      <TBODY xbuilderid="roo-gen196">
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-body-content" xbuilderid="roo-gen193">
                            <H2 xbuilderid="roo-gen194" xtype="Roo.bootstrap.Header">Historical Comparison</H2>
                            <DIV class="container" xbuilderid="roo-gen195" xtype="Roo.bootstrap.Container">
                              <TABLE width="100%" style="table-layout:fixed;font-size:14px;">
    
                                <THEAD>
      
                                  <TR style="font-weight:bold">
                                    <TD>Date</TD>
                                    <TD>Headline</TD>
                                    <TD>Clippings</TD>
                                    <TD>Circulation</TD>
                                    <TD>Advalue</TD>
                                  </TR>
  
                                </THEAD>
    
                                <TBODY flexy:foreach="history,h" xbuilderid="roo-gen197">
    
                                  <TR>
        
                                    <TD>
                                      <SMALL> {h.publish_dt(#d/M/Y#)} </SMALL>
                                    </TD>
        
                                    <TD colspan="4" style="word-wrap: break-word;">
                                      <SMALL> #{h.id} {h.headline}</SMALL> 
                                    </TD>
    
                                  </TR>
    
                                  <TR style="font-weight:bold">
        
                                    <TD> </TD>
        
                                    <TD> </TD>
        
                                    <TD>
                                      <SMALL>{h.clipping_total}</SMALL>
                                    </TD>
        
                                    <TD>
                                      <SMALL>{h.reach_total}</SMALL>
                                    </TD>
        
                                    <TD>
                                      <SMALL>{h.advalue_total}</SMALL>
                                    </TD>
    
                                  </TR>
    
                                </TBODY>
 
                              </TABLE>
  
                            </DIV>
                          </TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
                <TR xbuilderid="roo-gen198">
                  <TD align="center" valign="top" class="roo-m-child-ctr"></TD>
                </TR>
                <TR xbuilderid="roo-gen199">
                  <TD align="center" valign="top" class="roo-m-child-ctr">
                    <TABLE border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="roo-m-footer " xbuilderid="roo-gen200" xtype="Roo.mailer.Block">
                      <TBODY>
                        <TR class="roo-m-block-tr">
                          <TD align="center" valight="top" class="roo-m-footer-content"> The news clipping shall not be copied, redistributed, reproduced or passed on
        directly or indirectly to any 3rd party in whole or in part for any purpose at anytime.
        This news clipping is intended for client's internal usage only.
</TD>
                        </TR>
                      </TBODY>
                    </TABLE>
                  </TD>
                </TR>
              </TBODY>
            </TABLE>
          </TD>
        </TR>
      </TBODY>
    </TABLE>
  </CENTER>
