<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE abiword PUBLIC "-//ABISOURCE//DTD AWML 1.0 Strict//EN" "http://www.abisource.com/awml.dtd">
<abiword template="false" xmlns:ct="http://www.abisource.com/changetracking.dtd" xmlns:fo="http://www.w3.org/1999/XSL/Format" xmlns:math="http://www.w3.org/1998/Math/MathML" xid-max="1026" xmlns:dc="http://purl.org/dc/elements/1.1/" styles="unlocked" fileformat="1.0" xmlns:svg="http://www.w3.org/2000/svg" xmlns:awml="http://www.abisource.com/awml.dtd" xmlns="http://www.abisource.com/awml.dtd" xmlns:xlink="http://www.w3.org/1999/xlink" version="0.99.2" xml:space="preserve" props="dom-dir:ltr; document-footnote-restart-section:0; document-endnote-type:numeric; document-endnote-place-enddoc:1; document-endnote-initial:1; lang:en-US; document-endnote-restart-section:0; document-footnote-restart-page:0; document-footnote-type:numeric; document-footnote-initial:1; document-endnote-place-endsection:0">
<!-- ======================================================================== -->
<!-- This file is an AbiWord document.                                        -->
<!-- AbiWord is a free, Open Source word processor.                           -->
<!-- More information about AbiWord is available at http://www.abisource.com/ -->
<!-- You should not edit this file by hand.                                   -->
<!-- ======================================================================== -->

<metadata>
<m key="abiword.date_last_changed">Thu Dec 11 13:23:21 2014
</m>
<m key="abiword.generator">AbiWord</m>
<m key="dc.creator">Edward</m>
<m key="dc.date">Tue Dec  9 16:50:07 2014
</m>
<m key="dc.format">application/x-abiword</m>
</metadata>
<rdf>
</rdf>
<styles>
<s type="P" name="Normal" followedby="Current Settings" props="font-family:Helvetica; margin-top:0pt; font-style:normal; margin-left:0pt; margin-bottom:0pt; widows:2; text-decoration:none; text-indent:0in; text-position:normal; line-height:1.0; font-variant:normal; bgcolor:transparent; margin-right:0pt; color:000000; font-size:12pt; font-weight:normal; text-align:left; font-stretch:normal"/>
</styles>
<pagesize pagetype="A4" orientation="portrait" width="210.000000" height="297.000000" units="mm" page-scale="1.000000"/>
<section props="page-margin-footer:1.27cm; page-margin-header:1.27cm; page-margin-right:2.54cm; page-margin-left:2.54cm; page-margin-top:2.54cm; page-margin-bottom:2.54cm">
<table props="list-tag:1; homogeneous:1; table-column-props:1.300000in/1.300000in/1.300000in/1.300000in/1.300000in">
<cell props="bot-attach:1; left-attach:0; background-color:f4f4f4; top-attach:0; right-attach:5">
<p style="Normal" props="text-align:left; dom-dir:ltr"><c props="font-size:8pt; font-family:Helvetica; color:808080">Media OutReach Press release distribution report</c><c props="font-size:8pt; font-family:Helvetica; color:808080"></c></p>
</cell>
<cell props="bot-attach:2; left-attach:0; right-attach:5; top-attach:1">
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-weight:bold; font-family:Helvetica; color:404040"></c><c></c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-weight:bold; font-family:Helvetica; color:404040"></c><c props="font-weight:bold; font-family:Helvetica; color:404040">Media OutReach News Dashboard - {days()} Day Report</c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-family:Helvetica; font-weight:bold"></c><c></c></p>
</cell>
<cell props="bot-attach:3; left-attach:0; right-attach:3; top-attach:2">
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica"></c><c></c></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica"></c><image dataid="7d0de758-803d-11e4-812a-f7d546563c01" props="height:0.5433071in; width:2.744094in; font-family:Helvetica"/></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica"></c><c></c></p>
</cell>
<cell props="bot-attach:3; left-attach:3; right-attach:5; top-attach:2">
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica"></c><c></c></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica"></c><image dataid="{base64Images[release-logo][dataid]}" props="height:{base64Images[release-logo][height]}in; width:{base64Images[release-logo][width]}in; font-family:Arial"/></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica"></c><c></c></p>
</cell>
<cell props="bot-attach:4; left-attach:0; right-attach:5; top-attach:3">
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-size:9pt; font-weight:bold; font-family:Helvetica; color:505050"></c><c></c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-size:9pt; font-weight:bold; font-family:Helvetica; color:505050"></c><c props="font-size:9pt; font-weight:bold; font-family:Helvetica; color:505050">Description :</c><c props="font-family:Arial"> </c><c props="font-size:9pt; font-family:Helvetica; color:505050">{release.headline}</c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-size:9pt; font-weight:bold; font-family:Helvetica; color:505050">Release Details :</c><c props="font-size:9pt; font-weight:bold; font-family:Helvetica; color:505050"></c><c props="font-family:Arial"> </c><c props="font-size:9pt; font-family:Helvetica; color:505050"></c></p>
{foreach:t.releases,r}
    <p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-weight:bold; color:505050; font-family:Helvetica; font-size:9pt">#{r.id}</c><c props="font-weight:bold; color:505050; font-family:Helvetica; font-size:9pt"></c><c props="font-family:Arial"> </c><c props="font-size:9pt; font-family:Helvetica; color:505050">- {r.publish_dt(#d F Y h:ia#)} - {r.inlanguages}</c></p>
{end:}
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-family:Helvetica"></c><c></c></p>
</cell>
<cell props="bot-attach:5; left-attach:0; right-attach:5; top-attach:4">
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-family:Helvetica; font-weight:bold"></c><c></c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-family:Helvetica; font-weight:bold"></c><c props="font-weight:bold; font-family:Helvetica; color:404040">Overview</c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-family:Helvetica; font-weight:bold"></c><c></c></p>
</cell>
<cell props="bot-attach:6; left-attach:0; right-attach:2; top-attach:5">
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-size:8pt; font-weight:bold; font-family:Helvetica; color:505050"></c><c></c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-size:8pt; font-weight:bold; font-family:Helvetica; color:505050"></c><c props="font-size:8pt; font-weight:bold; font-family:Helvetica; color:505050">Distribution</c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-weight:bold; font-family:Helvetica; font-size:8pt"></c><c></c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-size:8pt; font-family:Helvetica; color:505050">Total Distribution Points: </c><c props="font-size:8pt; font-family:Helvetica; color:505050"></c><c props="font-size:8pt; font-weight:bold; font-family:Helvetica; color:505050">{release.delivered_total}</c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-size:8pt; font-family:Helvetica; color:505050">Countries Targeted</c><c props="font-size:8pt; font-family:Helvetica; color:505050"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US">: </c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">{countries_total}</c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US">Languages: </c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">{languages_total}</c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c
        props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US">Beats Covered: </c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c><c
        props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">{beats_total}</c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-weight:bold; font-family:Helvetica; font-size:8pt"></c><c></c></p>
</cell>
<cell props="bot-attach:6; left-attach:2; right-attach:5; top-attach:5">
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">Total Coverage</c></p>
<p style="Normal" props="font-family:Times New Roman; dom-dir:ltr; font-style:normal; margin-left:0.1181in; lang:en-US; text-align:left; text-indent:0.0000in; text-position:normal; margin-top:0.0000in; font-weight:bold; line-height:1.000000; text-decoration:none; font-size:8pt; margin-right:0.0000in; margin-bottom:0.0000in"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
<p style="Normal" props="font-family:Times New Roman; margin-top:0.0000in; font-style:normal; margin-left:0.1181in; dom-dir:ltr; color:505050; text-indent:0.0000in; text-position:normal; line-height:1.000000; lang:en-US; margin-right:0.0000in; font-size:8pt; text-decoration:none; margin-bottom:0.0000in; font-weight:normal; text-align:left"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US">Unique Web sites: </c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">{release.media_total}</c></p>
<p style="Normal" props="font-family:Times New Roman; margin-top:0.0000in; font-style:normal; margin-left:0.1181in; dom-dir:ltr; color:505050; text-indent:0.0000in; text-position:normal; line-height:1.000000; lang:en-US; margin-right:0.0000in; font-size:8pt; text-decoration:none; margin-bottom:0.0000in; font-weight:normal; text-align:left"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US">Total Clippings: </c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">{release.clipping_total}</c></p>
<p style="Normal" props="font-family:Times New Roman; margin-top:0.0000in; font-style:normal; margin-left:0.1181in; dom-dir:ltr; color:505050; text-indent:0.0000in; text-position:normal; line-height:1.000000; lang:en-US; margin-right:0.0000in; font-size:8pt; text-decoration:none; margin-bottom:0.0000in; font-weight:normal; text-align:left"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US">Total Reach: </c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">{release.reach_total}</c></p>
{t.direct_news_feed_total():h}
<p style="Normal" props="font-family:Times New Roman; margin-top:0.0000in; font-style:normal; margin-left:0.1181in; dom-dir:ltr; color:505050; text-indent:0.0000in; text-position:normal; line-height:1.000000; lang:en-US; margin-right:0.0000in; font-size:8pt; text-decoration:none; margin-bottom:0.0000in; font-weight:normal; text-align:left"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
</cell>
<cell props="bot-attach:7; left-attach:0; right-attach:5; top-attach:6">
<p style="Normal" props="text-align:left; margin-left:0.30cm"><c props="font-family:Helvetica; font-size:12pt; color:505050; text-decoration:none; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
<p style="Normal" props="text-align:left; margin-left:0.30cm"><c props="font-family:Helvetica; font-size:12pt; color:505050; text-decoration:none; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; font-size:12pt; color:505050; text-decoration:none; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">Distribution Details</c></p>
<p style="Normal" props="text-align:left; margin-left:0.30cm"><c props="font-family:Helvetica; font-size:12pt; color:505050; text-decoration:none; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
</cell>
<cell props="bot-attach:8; left-attach:0; right-attach:2; top-attach:7">
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">Countries</c></p>
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
<p style="Normal" props="font-family:Times New Roman; margin-left:0.60cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US" flexy:if="distribution.international">International (Outside of Asia Pacific)</c></p>
{foreach:t.distribution.regions,r}
    <p style="Normal" props="font-family:Times New Roman; margin-left:0.60cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US">{r}</c></p>
{end:}
{foreach:t.distribution.countries,c}
    <p style="Normal" props="font-family:Times New Roman; margin-left:0.60cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US">Regional: {c}</c></p>
{end:}
<p style="Normal" props="font-family:Times New Roman; margin-top:0.0000in; font-style:normal; margin-left:0.1181in; dom-dir:ltr; color:505050; text-indent:0.0000in; text-position:normal; line-height:1.000000; lang:en-US; margin-right:0.0000in; font-size:8pt; text-decoration:none; margin-bottom:0.0000in; font-weight:normal; text-align:left"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
</cell>
<cell props="bot-attach:8; left-attach:2; right-attach:5; top-attach:7">
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">Languages</c></p>
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
{foreach:t.languages,l}
    <p style="Normal" props="font-weight:bold; font-family:Times New Roman; margin-top:0.0000in; font-style:normal; margin-left:0.60cm; text-align:left; dom-dir:ltr; text-decoration:none; text-indent:0.0000in; text-position:normal; lang:en-US; margin-right:0.0000in; color:505050; margin-bottom:0.0000in; line-height:1.000000; font-size:8pt"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US">{l}</c></p>
{end:}
<p style="Normal" props="font-weight:bold; font-family:Times New Roman; margin-top:0.0000in; font-style:normal; margin-left:0.60cm; text-align:left; dom-dir:ltr; text-decoration:none; text-indent:0.0000in; text-position:normal; lang:en-US; margin-right:0.0000in; color:505050; margin-bottom:0.0000in; line-height:1.000000; font-size:8pt"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c></p>
<p style="Normal" props="font-family:Times New Roman; margin-top:0.0000in; font-style:normal; margin-left:0.1181in; dom-dir:ltr; color:505050; text-indent:0.0000in; text-position:normal; line-height:1.000000; lang:en-US; margin-right:0.0000in; font-size:8pt; text-decoration:none; margin-bottom:0.0000in; font-weight:bold; text-align:left"><c props="font-family:Helvetica; font-size:8pt; color:505050; text-decoration:none; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c><c></c></p>
</cell>
<cell props="bot-attach:9; left-attach:0; right-attach:5; top-attach:8">
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; font-size:12pt; color:000000; text-decoration:none; text-align:left; text-position:normal; font-weight:normal; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">Found on these Search Engines</c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c></p>
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; font-size:12pt; color:000000; text-decoration:none; text-align:left; text-position:normal; font-weight:normal; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
{foreach:t.suppliers,s}
    <p style="Normal" props="font-family:Times New Roman; margin-left:0.60cm; text-decoration:none; color:000000; font-size:12pt; font-weight:normal; text-position:normal; text-align:left; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US">{s.name}</c><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c></p>
{end:}
<p style="Normal" props="font-family:Times New Roman; margin-left:0.30cm; font-size:12pt; color:000000; text-decoration:none; text-align:left; text-position:normal; font-weight:normal; font-style:normal"><c props="font-family:Helvetica; text-decoration:none; color:505050; font-size:8pt; text-position:normal; font-weight:normal; font-style:normal; lang:en-US"></c><c></c></p>
</cell>
<cell props="bot-attach:10; left-attach:0; right-attach:5; top-attach:9">
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-weight:bold; font-family:Helvetica; color:404040"></c><c></c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-weight:bold; font-family:Helvetica; color:404040"></c><c props="font-weight:bold; font-family:Helvetica; color:404040">Volume over time</c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-weight:bold; font-family:Helvetica; color:404040"></c><c></c></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c props="font-weight:bold; font-family:Helvetica; color:404040"></c><image dataid="{base64Images[volume-over-time][dataid]}" props="height:2.1528in; width:4.3285in; font-family:Arial"/></p>
<p style="Normal" props="text-align:left; dom-dir:ltr; margin-left:0.30cm"><c></c><c></c></p>
</cell>
<cell props="bot-attach:11; left-attach:0; right-attach:5; top-attach:10">
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica; text-decoration:none; color:404040; font-size:12pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica; text-decoration:none; color:404040; font-size:12pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:404040; font-size:12pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">Breakdown by language</c></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica; text-decoration:none; color:404040; font-size:12pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica; text-decoration:none; color:404040; font-size:12pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><image dataid="{base64Images[breakdown-language][dataid]}" props="height:2.1528in; width:4.3285in; font-family:Arial"/></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Arial"></c><c></c></p>
</cell>
<cell props="bot-attach:12; left-attach:0; right-attach:5; top-attach:11">
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica; text-decoration:none; color:404040; font-size:12pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica; text-decoration:none; color:404040; font-size:12pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c props="font-family:Helvetica; text-decoration:none; color:404040; font-size:12pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US">Breakdown by country</c></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica; text-decoration:none; color:404040; font-size:12pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><c></c></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Helvetica; text-decoration:none; color:404040; font-size:12pt; text-position:normal; font-weight:bold; font-style:normal; lang:en-US"></c><image dataid="{base64Images[breakdown-country][dataid]}" props="height:2.1528in; width:4.3285in; font-family:Arial"/></p>
<p style="Normal" props="margin-left:0.30cm"><c props="font-family:Arial"></c><c></c></p>
</cell>
{t.breakdown_news_coverage():h}
{t.clippings_summary():h}
{t.clippings_details():h}
{t.historical_comparison():h}
</table>
<p style="Normal"></p>
</section>
<data>
{foreach:t.base64Images,i}
<d name="{i[dataid]}" mime-type="{i[ext]}" base64="yes">
    {i[data]}
</d>
{end:}
<d name="7d0de758-803d-11e4-812a-f7d546563c01" mime-type="image/jpeg" base64="yes">
iVBORw0KGgoAAAANSUhEUgAAARYAAAA4CAIAAAC3/kDqAAAACXBIWXMAADXUAAA11AFeZeUI
AAAAB3RJTUUH3gMaCi4Qh8OGSgAAIABJREFUeNrtXHd8FNX2P/dO2b7JpheSQCgJAVQMAYII
iAiCNAUV7Iqo8HyCovBQERuo8EAR4Yk8BBuIiEhViqL0JhBKJIX0Xjbb25T7+2OT3dlNAoGH
yvu9OZ/8kZ25c+eWU7/n3EGEEJBJJpmulrC8BDLJJIuQTDLJIiSTTLIIySSTLEIyySTTlQFs
tLxgMv0v0+kfTx3fdrLMzDtpzPBilBrdPCjt1on9294DkkFtmf436dxPZxfN3qAY0r/P00Or
LBCjhjo3pMdB6fZTu9/9+ulZd9360ABZhGSSqWVaNnmFOan9rc8MywiFrHoxJRTpFcgqgJMH
kwt+LhOOHswP/fSL9w++iSksi5BMMgXQa8PeumfBEzEp8VEKwIgAIO91AcAukHIruEXIM4of
nrF1mjlndf6HsgjJJJOfsnaftSC69+1dFSj4lkUAngAngNkNpWZx9hFbca11Se3hCXPHX6LD
/4+I3J+rE+wc2Vfq2pBt3ZBt3VPsrHeJMptet8R7+GXTV8f17mr2kCIrqXXD7hLB6iEiIRYe
GAQKREQAjKDQIkSpsEWpfv37vLri2qu0Qo9onnI7XF6eRIC8vIkAacK0q+qXSVta66xPRE7F
gCQtEQECAK//NDttcNc/blHuQuO0oGl8JUBE+8iPChcBQPmFiuldZ+EmG00ARjw79LGlD10z
ZVbrWXCgfkeezWTmAEsUmkgUGuqOZO3f+xiGdlD/cRP/+KTpt0r3yruipRcf+r7qq9NmQJfa
cC1DaRUo2cD2baec2S88WkP9d4nBwVJn/1Ul/jkS8v7o2Ok3h7Tl2QuHcsOToy2akEqbmKBF
iTpUbCVJOmTlQSBEzyA3gRoHmF2EE9G4H81lLp54XJ9X7X/orQlXZYVQ4zCRRLcTIHaTnXNx
0oblv1dihAJbEuQVJ/THLqj3BaRJTpqGHCDzjTev3Uim/FB905L8tWfMJqcALAYa+f9Y7ObI
thzrsE+LBn9eauOuvVH6LscWsiBvyubKaqvQkgUml/ojYPMIVVb+UIlj8UFjzLu567Ot/10i
hFDgHK8kElk/b2NotL6jDnpH4wgVuAVop0UIQEmBnkZWDmodxOgkIqBah6BmQBQI4YX1ewuv
sSNHROK0OKRXtn+wE66TkIoEC9i1HZdAIG7JxY+PNQBzuaWj8d5Cu+7tHKNLuEYzI0fKnJp3
88atK7M4hQDTJ5nwFakfoNGEb8rLbfx/sXN2JVM+s++8V5WyGCpsREnBuXpxexFfZhEpBCEM
5DUIKgZ4kSw67SxzEK3oAjefVe++ahFqlf32fnpA+nP/dwf+9BjkMgtKEKEpmmJpmqVolmZY
BtPXwGO5c21ZpYm7ggcwSvqg4JrMrM4hZi4vdLiFSzINuooV67uq+H8h9OWcXHRqO0vT7pXa
RACIVKILRvG7fN7sEQ9WCR+ecv19r83ugce7Kpwi6ROrB170RERaKo2tqsorsqCIAAECQDa/
t33MP+7yXq4pqMVA+XcPBc0K/SULG9cl9kvnqoBx4P90JAfLnHvyrH5n0beFFHrkhlAMsPa8
2eMRghrY3MKHxxueyzD8yRq3kTyi6bWuFCIAYOfJqlPmV/ZUB3VktAvwP0CYQg1mp0cADoAB
SI+mN17kSyyiw0PcAnn7qCdGiziBmD3k43OODaWeO6KpEyWWMK0iXkNhTP2nIkSAhEaGmGpM
3tDCZGpwmp2qEBUAlJ4vY4Dxyo0IolavdZgdxB8Xtawlzuw8e3zzqfLscoHj1WHaxG7teo3u
2blfp0uMoSy7fNuiHysuVGjD9Zn3Ztz6cL9LqRwXX5xVKhFnEhoTGtk+PHgYu86d2XWu/EKl
vcEOhCh1qoiksMTuCX3GZxjiQoPxlc1VwfLDiWsfSJiYpvP+Wj0mel+JY+AnRUFu3rTt1T4R
OlruRhJVQ2FIj1X4Wp6r8Tg5QprCOhGgV5yCF8mpSrfZExzOmVzC6SoPJxCMIT2Wba69vK/R
sohCCAC0LLx8SxiF4R87a6RdcWLLe7TjomNrru1MjccuCIkaJjWSHZOivSVe2YTdtEBVdmHd
eeupCmeBhbcLooaiEjQ4ycAOSFKN6Ki5NI+tybL+WmLPMXIOQUzQ0J3D2XtSdP0TlG0Xkk+y
LNtzbCV2/oYwdkqGoW+cQnqXYmlHtcXqIWoaKSiipFH3cHSmlphcokcEo0sotiMTT0ycyNB0
kkLoG6XMrWGKKqwJxRXa6JBrYIVSMjsf2HyYBQYAaKAbKhq8InRo3VHfzkUnRSk0SofZgVqz
uQhWPrX6l8/2Oz0uCjAG7JXP49t+2/Dedzqt7o6nBz/0z2D0w2lxvjFw/oXTuSywCBABcnTr
0U///vmMjdO8Io2aAEAf1RbVvpQ5Gzd5qgRg5JQ7Jy1/1Ndg2cMr9n15kAOOAgoBaoIlCAEg
IK6Ytio5tcOLm6fFdonxti+x8AXlTlBIZYP8rX+4T368NCBR/dHY2Ge3VgXCdOKuAsfQZDUA
9F2WDxTysSCrotwvd/E1HLehPLfKJcX3LHNTjU4hc+lFYFGQZO4vsvVcZgMAVoFdr6Qg1CY/
p1+i+nKOEXpmR9Wa02a3SwTkdfZRFnFuzSYL99aq1dTk9NAPhkYFPbWzwDl1W2VBjRsoBI3z
QwAECAJC3iOAaDQlI2zZ8KAHwcaJo9aV/5JnAwSAG9GfLEKAwPu/1qnV1KT00A+DXxfkLMOK
U+a/76ji3CJgAIROF9s/P9HQv6Nm/2OJ0pbDHrn1pxL+rmTG5CZmj7jmnEeFiZkjLl5s4IiV
gwYPqfDAunznzSHi8hP1tSZ3z86Rg7pGXBs4oVPfjr4NwQif2JbVuJHrDvmHOHUI7+Fb8zzc
dvffk1/cvXIv7xEYoH38jQBRgBlgXDbX94u2zb75tSD0Ymri84WnixWg8AkMDbTD7Hh9yDw1
UrXmdTLASP8oSSz0XMcXf/3yAAAwwGDfvgEgQBgQBRQLbNmF8r+lTLc32H1YKjCBTOoWX+7f
wuL+rZcB+EDOpfAvxQ4fzAC0H8RT0AF9KigUgO/RTTgnjYDGLYBTvk5Qq64eFXjt6a1VQa1U
kjHYOJK8tGDFMZObI0AhwE3S7uVvGjk84pJDxvSVRVLbtafQeeea4sIGrmk5fToCNT5IIUJg
+dH6Cd9VBOQGaty6t3N/KbQDjRplzze1ptctPVifsaroEvHF12fNz2yq4HjSqAybVuZgseP+
TQGvu3/mmP3bT9c6gcX4WBV/rI5rcJN6F6n3gNUDdR6xmgOnmxOdluNFtto6Z3o7/TClY/jQ
lKsUoSBAGmHUe1ivRkyRkF0f7QGAytwqD3h8zl7f+zJEXmjNyr+a+WZNUQ3yg69EoWaj2key
Sta/34ALThXOu2OB78qcW962m+0tDokC7BVq4sfcLx917vv8YGVBNZbMXQBBH6WPbB+hClGL
kpYMsB/ct9z7f269JwgEo9R0nLZlF7l7M02f50N1/uTYkEav7K2fs7f+5Z/r7lxbhuZeuFDt
DFwYcnea30vp8+/iIqNHknUBDYsTQ5kAUUdwqsJ1/8ZG7nQL5I5Pi4AKAD8pjBJCmIQQJmBL
ENpwzmJvAvrrncJNSwuCeZAQEAOhaoxOlDp9r2vOpocLHcF6omnLvzlpqpJEeuHtwqkPVhQa
uXoHSTPQmBIr3GKtW6xwiiVOsdwFNocDHDZwE+DEHgn6fskh+TMX3v7kHZda4MsjCE2T4T38
wMduzdp51vu7uKTEZXH9vi/H69p5GTE01kCQhF8l89r9r5+LzhVLGbfHbd3n/DzL+//0zi9V
5lf73npiz8nK3JrYLlEAUHCiEPkzpAQAlFqlQqNwWV1uh7u5C3fZSHzlM6sRgAi+jA2at39u
Sv9Gb2p2+tyCk/48wIk9v3kcHlbNVlqDgbhO4WxrL+tsYM5J/TGAGkebEkSktaEzWEVjJy8G
2jakoBABUNP4El7O/H21Up0ZFFG1C2XWjG7Mzy4+asyuckk1RUai6tgTSY379UnxuUqnb5yb
sswHM8NvaaessPKYxaIEkugZrzw5ub33/19LnYNWFvlYXCTw1TnrUz1DAOCxzZUQaIRZCj10
Y2h6gupkqeuL0yaPz9Ah9E2WadXoWC3TqgbSsNgjEE4gQamFggZPjEblW8rPij8eO3HNowuf
OFHFZUQotuSbGKXKxoONF8FlBw8HHCE8ACf2iNVsXrZ196eTMY2vUoQIEGntAhFJ0k2JHHA0
0ACgALbkfNmZXecQYO/WqxQqRkEjIkHlJNP5Yckur/x4xdIFrlk7XvDdfe/MvMe0T4mi6H2K
BfbjJ1a+ceCV45tOcjyHJbuu0qs/NS7HFAJAM7rNLssuv1LI6jPbJwihyguVhSeLi06X8B7O
Jz8AkDYw9eLJAp/QYqCs9bZwdZiDC2bvSCV1iaRQ0AWX0CbwFbV0JSGEFuem1jr46Pm5wPp7
Ht5Zu3VCvHeLUOsh/iWocySbOzXZHx8eNUnlByHY97A/ltgxIT5xYZ6f6Vn88QnjLe3iOoQy
3KupNk48Uek+Xuk6UOz8fGyM76mBCSqGxVLO/j7X/lTPEAKw7ZwlILrjxMIZXeK0NADATSHv
3B4R8888sQmQ0miYT06ZXuhtaHHRjj2TnB7NIEBJH14saQhQdmWWALyRUtDvPNfv1Te/tt8/
dm+FGwRatHmA8wDHgUCAE0EgiAcgsH3D4S/7qbv0v0xtzZUduYvtHM0BTwGNACig8o8WZO08
64OBRr4wHLxVCc2lUST5OQUqUHqdQAC4eUBPVsn4YwAVS7GUKCkwqymsAYDjm3+T9ieAMGPj
c7768ymfTn6p78sKULTBEPkbYIwBIK5rXFzXuFsezGy0Nt+f/GHp7sJTRfYGu9Rd9NlUFRs8
sQpnq1iw2x18K4S9ynJE0ugNAGoGFzRGhgFRUFuzJPf2CPlwaFR0oCNaGJjySjIolBKtn6Cn
A7A4AgdKXL6AXs/iwUmqwUmqWX0NAHDRzP/7ZMPaLHOljecCF6PezQPA1lxbELw5a3BUo/x4
NZSaKpzeSUWDikYqhqJa1w9p0Ype0Yx3YC/0DZu+PQDLsTfTfd0HpS0N194/4hVxxnQiEsQJ
Xo+E8AREgkQgNNX981Wr37+n16j0y3vKbdSJ3t3CFO7Z/8YLB3K8FzfN32yz2Hy+2dBnhwRn
hpo6KD1XhgN93t8PXJiAHiUBO0+kXpnT6vTGWlKGxoB7DEnzu1J9kjngfTBd645QC8tfX2rc
tuiHvMMXa0vr6irrARDVhMv5npK65In6YLetoLbVpHVWdfCtP6sUrdlMBXH7o0lbcmwrDtVL
Vf6GLFNWpfPM0x18QY6NB8KL0qCiuMGF3siR9E2C/K6iBo/05xfnLOvOWgqNnkIT53aJgKHF
EgrvpXO1bilHIAQP9tAFtUzUt0HFEzKhm9438Vgd3RY1ktAj8efz8zct2bHwk0PF6b0sHVJ4
jQ7Z7LrC/NiTx54alfrYL8+HtYtoU7DZRs3t4+yRLwy/cCDHy16WWqtPMDCFdWHqpqbBk/A4
PM3tEgHAjayPEADxZW4BAYBXd5Hggh3c3NuUDg+15pEGDumdEYuP/nDMiwoSABpoAMIBhwBH
xUcay42+Pn0dpkUwIJIAnvAIeQ1cZwMTDMHzpLzaBQFuHukepWhL+CNc8xIPAYYla0Z01KRG
sM/vkOS1MMqt89z4SeGFJkfO5habMWdgook0W+CmRz47Y3lySyXvFv0yRiMQCXiEjjGqYpOH
bxYJEiGYH1T0VRlqAlqJ7UKkrd6sUq+aOGfcxDnjcvdll5wrdNTnKSJU8XcmdxtyD7qSkVzx
txNS+ncmLTkMrJqllSwEFnr6GoXEhpJAI6MN08Z0iiFEbFRBhAS5IjRLA0BkYljuEeIzDiII
oiD6HDmXze3FUNuCKDT2Tsj0TjMrC6oU4LMqRKVX9bi924CH+mXc02v9nO82vr2pueHqn6QG
TgQFJQ1+X/+17quxsUEtPzphCmgGAJx4WwdNi4gBEYOypX9Uudr03oY3f61vcAT0n1Ptnry9
auVdMQAQownmG70Sp4YrLtGn3SMCwLk692PflgOF/PJDSHo71V2ddU/0DEnS08p5OXyz7C2r
wIFgHViayXClndcrKA2NLitFVxYNB1KXAWldBqRdPeR5pS6CWq8kIAZZAwJk8OMDm3hUYh+a
VEJkUjgNlJTRNQbtvKOvXfalN91544FvDksFc93L3z743n3eH0c2HGOBDRBO0qoX571jb3BU
FVRLJaRdavzi39/1/TSWGX0ASQB4oKIGpup/LbRLL679rSE5TPFKv1Aljb02ZFuefeb2yiA4
QatjevtKEAIZ1WYXTG4xVIG9oUiFkQO6rVzAt1CkfClVsuuhhIxPCgK4DKM1p0xeEQIAnZqy
SvjYI8DRJ5MuO4xJW6oCMGVB3Ppo+5Ed1ZLIkEAzNzYjVgkikTyI5u83fntvrHQmcQvzwEMA
Q1K0sme08pYk9Yt9QuE6oyvIC3k3h1YwHW5s39xTGj1r5KU9876je3sPP3i7LbtYWpbtR/o9
TveHEz/e9PaW37acqs6v4Tle4AUAMvDx/hj5lxkD2rpwe87+XJ4T8o8WLn/iExooqSPXXAl5
vThfA2O5KdDNEfo/kCm9cmLLSSkjSm3psuHRIAZjpm/vrVG9ldP5o8Juy4voN34fu660ORy3
erTEUgWVeNMoblH++mzbkmMNnT68eAn5ae5cnKlyAQAvkgY/DHMp8esVq4jQB7udPA9D1zai
mqkRCuncXZxYa/dbrWoHP+qbilf31W/JteebeE4gXvfs2MUAtRKmpSXyQ17eW9+sXB4BwKBE
FQRCLBvPmzbm2HxNH9xSDQiBAgODi42e77MtpwPzBG3PCvyxibereGbMzJFLHlwmFTClWmmI
u8yZp3tfv/vAlsNKaFTGDDAv9Xj54YUTe9+dfmLrqS9eWucta/DyugDCsyufvu3JgQAQHmeo
LzdKHHQyZ8BbNE0LvNBUSULasISNo9UaVNJkFwXUzmU/3TNnDAAUniiaP2yhzWiT9kkkeZRu
keycwdFv/VLTPPeS782ctgCawc3tVOO7+gPlu1N0m85bAmInTpywoeyyy25QUkECXG7hFG/n
IAANi+tmdmrL2awzk9vHL8oPKgPeW2Dz/vvtffFJC3KlRRhxiy8uHBY9vIv2hxzbi7uqBZFs
+71pnUWy/O74KT31oKRB9Nsuo11YcLhhZqYBACZsqlp/xgytFPjOHRjxxt46aUXC+K/LtCxm
MHIJxCk9akUIhfGXY2Iu7yuR68kKtTaYPuMzKERJm2kMmpadUUkX7XsmPfrmg16nqzGwEcXV
M754Onnaqmmf+cqCvPhE77syvPIDAK/+NIsDPggeFHgBAEQgrIoJYNzLcZE2XMsHRrKmatN4
9OBE+rGXMl6xNNgEEFHgUUFBUrL05sCwUakhbVV2CNqFskceD/CFFt8RiVCr4FLHCAWIrXbe
NSm4UtMjELdA+NYfCVqQWC3dIza4JIoXyJCvyrwI2IxBkVJMgxfJ8zsqUxfnPb+jUpC+BZEH
bg6d0lMPAPNuj0AQUEww68cq+q0cNPf39Vlm1CxQJU2y8frAiMwkVdBi2Dxig0twBh1V5MQ1
4+LguqQ2nRcKykhQNGbUjCTGEHuN7Bm8cQihZoXD98wZfffs0U5w+/YVA6aBwv7qKOQAx5BJ
t83a9rxfEabEPvzWBBe4ArUs4kEY+ED/kTOGAyGtKeDmnMWq2Be/mcZDQFRNASUKIoUoN3H9
Y9MMB3H4RB0Dbgj0/bbcH7t4eAwIlzwvSQhw4rS+YSXTkoMcsPYhTN8kdQtyIpBJGWEvZoZd
Yj/WjI6Blo7B8qIXPWvTEhx8PKH5d51+yrNZPSIA/HNI5MxBkeASAjKsjcVyTSLpESelG3w4
ysy+YWFaBgKlSPCilyK5PVk3IkUrfdexMn+F0f5Hk8am6eDSZ3t58cuJCQ910/2l/tpVOXIJ
3eI9To93DUUBQqL0jYuIoeutKcbyhsYJcvyI6cP8HN8lVqVVIdSIJyg0AZDOxPn39r6n16a3
t+Qdya+prvVB0jTQkbERnXp3HDNrZOfMjkEjufvV0XFd4755bWNBdqE3sIlPiB829fYx/xi5
bdEPiT0SfFieIa4xe00r6MRuCd4sqtf98x1e6Htvxpzts9e/tjH/t3wPcF62iImJ7ja425P/
ekSlVw17+I6i0/5TaHtX70sd0EU6nud7G6akh84/YNyVbztf67ZZeZ+6QAqcEqEY1F49u394
a2mNQ48mvri7dtUpk8nMeV3RLrGql/qFPXlTyPpsW2qUgmmK/gSRYIn+6h2n/GJCu9d+rius
dYNIvC9VauiUCNabG0jQU92jFVKN5/CIQbKlZfC4NH12jTvQeJN3Dxrn3RYBAO8Njrivm+6t
X2oPlblqGzggTa4sRtGhTGY71fOZ4QMkZxBoDHUzOj25ter7C7Z6s6dxHZRURpxicnrYkzfp
j1e68us9vgSUSKDCxsVpGQCgMHx3b/yeDMOHR4zHKlzVJg6ExnkBRokR7JBk9aJh0aGSqElN
o25RyqaNBVEk4Sr/3RAlTo32LyAAGJR/7Dd2/uKPYHkcnCiIjJKmmLZmHp1mlypEec0G4ORE
XlTqFP9hPxYPQQh0jKQ88zI+ZWMDKwc6BtrSMuinnQOBgJ79w/fIwQNPQEVd/qh701KAlr3S
Lwr458gTcHDAUqD8L/ksivwdOZlk+gNjIZlkkkkWIZlk+qvgBAB4Y8B8RKFnPp0c1SHi29c3
Ze/Lnbr6yYik8MXjllqNtue+mhL0gYGy8+X/nvLZgEdvGTxpIOfh3xz0DgDM2vaCNqyFc/M1
LmHEV6WxOmbrffH5Rk4ZOBaRACEoKbTxao1DWHnaHK6gA8qAJDGChRdm9jbIOyrT9SVC5/df
EEHAGHYu3bPnk73GStO/HlvJqNgze85yHL9wzAfTvp4a3dF/rn37+zvP78+O7hQ1eNJAisK/
H74AgHArmTU9Q/120ZEYxZaY+c6L8ppHmI9nhn86KtoHvLy6uRIUOPhMtVeQKNQxUimLkEzX
kQhxLu7k9iwv7+cdLcjaddZSZwUgtSV1mMEgAgaUdyLfHViCfWLrSQJABHH74h8FjsdAESA7
l+5m1SwQwAw1fNpQb8tdBU4bJwAGFw97i+w3JKhoCp2scAEhN8epRAICgTidf3gURkAhnYZ6
e1CkEAiBVNuF9/bXK2kkb6dMfz61ishZaq2PRE32lTN3yuiY3Dt557LdN9zenVUzp3884+Rc
K4uWRiT5z1QcWntk8YMftU9LtNRZG2oakOT4jTf/E9857v3c97xXbv+i7Od8a2PCjhDyetdj
Ve4+/yqI1DM1M1r4FFatXYialwMsBl5sLEdo9OWI91MVKZGKC3/rIO+oTNeLFWLV7MSXx296
Z0uXzC5FWSWhsSG8i0MAF4/mA0IiTxCA1ATxnLD8sRUU4MQb2mWM7cWqFXs+3nNyRxYAKLXK
6V8/K3AC5/YfipzUK3Rcd/3fvisP19P/HBYDALN21wCCp9NbK8UlAGDQUFvvT5q0tSqnzrVs
RIyA0XObK9qFsWvGxtg42QrJ9BdQq4icUqO4YVgPIOjuV0fzbj6qQ6QoiACAGYpWMtCsxGLt
zPUcJwIA5+Yz7++dNijl6I4T3njfZrOFROl6je2ZeX9vX/sHumon36QHgYiErPitAQD2F9kB
oSVHjOEL8sIX5MUuypf2b+cAEDAU6r+6OLfeDQSm/Vjzwo5qoHC5mRv+RdnJWre8nTJdRyIE
AFsX7AAATYjKzbs7Z3bqNih13JyxTpvLUmcd+cKdd08b5aumAYAxs0dy4IGmIxLrZm1gEAtA
ACEamPdGvR/U+fO7a2/+uBBYbHKKx0odo9aXCyIAAauFN5q5BpdgCvyae41LAARqCq0YHZsY
ygLAC/3Dpw+IAIFE6eiPxsSMT9FcV6VTMv2vx0K8hx+lGK9HIQlp8QXnC1PSu1iqLYChvtRI
AMLjDAgjm9E+78jcdt3jAYCI5NDXRz54cFm/8X0HPTHgjRHz2yXGVZfUECA3D73p5K6sW8b1
ff7bZ32lHEO+LP0pxwo0NqioJAN7utwBCEXr6OwpyVaOtH/3glJDO1/xfwJvV4Fj2OpizKBw
NWVyipxIQpUYAEwukcIoTIltHKma0VGvoORNlem6sEI0Sy/+5V2Mcen5cgJwwx3d1Qa1qcpM
CAFC6suNCq1CE67BTbVtCCNtuI4AlGWXzx+xkAUmbVBXAECAUzI7A8D+jYc+GL/Ml8qZkmH4
ckIicGKEmkoMbfz8CoVQmArHaanm5iTH6AYMahaHKilOJGmRCotbNDmEYZ00agYJgNJjlRSS
wyGZridHruvA1JhOUQDAAhMaG/LIogccHofXVUOA4rrELS9+Py5FegoKAZCGChMBojNo937+
KwaMAX/9xsYQg44BuqbYf1htXIpmXKoWRHDz5F93Ro1J0/k+N9Xip6UOlTgBoXu76admhAPA
tD5hwzppAaNcI2918GY3v/beeA0rF1vIdN0gcgDwap83K3KraAYLvHjgy8M5x3ND9aEYI4fZ
GRZvOL75t3Fo4oIj8zv2kULJKH3kjRGJkXdOu+PiscJ3Ri0EgBnrp8V0jj60/siwqUN87Y5W
cUwT6B2no9feHav93Vph5dBr2UAAqYL9sa/PmkGEUV20Z2s5ANiQY1VQCAgUGt2A8bBOOqdH
JES2QzJdT1bIXGMGQpbkL1pjXkEIAUBL8hZyHoEALMp+J6ZjFAIqUH4AANx2z/3zxoVE6W+8
s7v3VFr3IV3b90x84J17wxP958l+LbClL8sH1u8J+k0ZQs0DtA7hSoOOmfNz7dyfqgFgT65t
+++WSb0NE28IASA7cqwpS/KdvAwnyHQ9WaEFZ+ZV5VWFJ4YhgJe2TEcI6aN0hrgQTFOAYEn+
wuKs0gBoAkjHG9oBGS+cAAAAg0lEQVRrIxpPFxKRJPdo7xePQAMxPk13qNQZq6On9TEAAEYw
pqs+VEktGx7l5MmD31Vo2QBDlDu1/YLDDTV2fkAH9a1JmhsjmVAlFaHCLIUWDolYlWWlANSM
bINkum4QOZlkkuk/deRkkkkmWYRkkkkWIZlkkkVIJplkEZJJJplaoP8DkR4alv+o1UEAAAAA
SUVORK5CYII=
</d>
</data>
</abiword>
