<html xmlns="http://www.w3.org/1999/xhtml" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class=" roo-strict"><!-- this is the code embeded in the webkit browser --><head>
        <title>Dashboard report.</title>
        <!-- this lot needs to be available on the target site.. if used on remote.. -->
        
        <link rel="stylesheet" type="text/css" href="https://{HTTP_HOST}{rootURL}/roojs1/css-mailer/mailer.css"> 
        
        <link rel="stylesheet" href="https://{HTTP_HOST}{rootURL}/Pman/Clipping/templates/mail/mailer.css" type="text/css">  

 </head>
       <!--background:#F8ECB2;-->   
    <body class="   roo-safari roo-linux" id="roo-gen2" leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">  
       <flexy:toJSON 
            baseURL="baseURL" 
            rootURL="rootURL" 
        />
        
    {outputBody():h}
    </body></html>