From: "Admin" <admin@example.com>
To: test@example.com
Subject: Event Errors Report.
Content-Type: text/html; charset=utf-8

<html>
    <head>
        <meta charset="UTF-8">
        <style>
            html,body,table {font-family:Arial;font-size:14px;color:#2c336a;}
            a {color:green;}
            table {width: 100%;}
            th {text-align: left; width: 25%;}
            th, td {border-bottom: 1px solid #ccc; border-collapse: collapse;}
        </style>
    </head>
    <body>
        
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Date</th>
                <th>Person</th>
                <th>Type</th>
                <th>Error</th>
            </tr>
            
            <tr flexy:foreach="errors,error">
                <td>{error.event_when}</td>
                <td>{error.email}</td>
                <td>{error.action}</td>
                <td>{error.remarks}</td>
            </tr>
            
        </table>
        
    </body>
    
</html>