From: "Admin" <admin@example.com>
To: test@example.com
Subject: Event Errors Report.
Content-Type: text/html; charset=utf-8

<html>
    <head>
        <meta charset="UTF-8">
        <style>
            html,body,table {font-family:Arial;font-size:14px;color:#2c336a;}
            a {color:green;}
            
        </style>
    </head>
    <body>
        
        <table>
            <tr>
                <th>Date</th>
                <th>Person</th>
                <th>Type</th>
                <th>Error</th>
            </tr>
            {foreach:errors,error}
            <tr>
                <td>{error.event_when}</td>
                <td>{error.email}</td>
                <td>{error.action}</td>
                <td>{error.remarks}</td>
            </tr>
            {end:}
        </table>
        
    </body>
    
</html>