From: "Admin" <admin@example.com>
To: test@example.com
Subject: Event Errors Report.
Content-Type: text/html; charset=utf-8

<html>
    <head>
        <meta charset="UTF-8">
        <style>
            html,body,table {font-family:Arial;font-size:14px;color:#2c336a;}
            a {color:green;}
            
        </style>
    </head>
    <body>
        
        <table style="width:100%">
            <tr>
                <td style="width: 25%">Date</td>
                <td style="width: 25%">Person</td>
                <td style="width: 15%">Type</td>
                <td style="width: 35%">Error</td>
            </tr>
            
            <tr flexy:foreach="errors,error">
                <td>{error.event_when}</td>
                <td>{error.email}</td>
                <td>{error.action}</td>
                <td>{error.remarks}</td>
            </tr>
            
        </table>
        
    </body>
    
</html>